@(projectile: com.kyleu.projectile.services.ProjectileService, project: com.kyleu.projectile.models.project.Project)(
    implicit flash: Flash
)@com.kyleu.projectile.web.views.html.layout.simple(projectile, project.key + " Path Edit") {
  <form method="post" action="@com.kyleu.projectile.web.controllers.project.form.routes.ProjectFormController.savePaths()">
    <input id="key" name="key" type="hidden" value="@project.key" />

    <div class="collection with-header">
      <div class="collection-header">
        <h5><i class="@project.template.icon"></i> Edit [@project.key] Paths</h5>
        <div>@project.template.title Project</div>
      </div>
      @if(!com.kyleu.projectile.models.output.OutputPath.values.exists(project.pathset.apply)) {
        <div class="collection-item">
          No paths available - add more features!
        </div>
      }
      @com.kyleu.projectile.models.output.OutputPath.values.filter(project.pathset.apply).map { p =>
        <div class="collection-item">
          <div>
            <label for="path.@p.value">@p.value</label>
            <input name="path.@p.value" id="path.@p.value" value="@project.paths.getOrElse(p, project.template.path(p))" />
          </div>
          <div class="right">default: "@project.template.path(p)"</div>
          <em>@p.description</em>
        </div>
      }
      <div class="collection-item">
        <input class="btn theme" type="submit" value="Save" />
        <a class="btn-flat theme-text" href="@com.kyleu.projectile.web.controllers.project.routes.ProjectController.detail(project.key)">Cancel</a>
      </div>
    </div>
  </form>
  <style>
    .input-field {
      margin-top: 16px;
    }
  </style>
}
