@(projectile: com.kyleu.projectile.services.ProjectileService, summary: com.kyleu.projectile.models.project.ProjectSummary, inputs: Seq[String])(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@com.kyleu.projectile.web.views.html.layout.simple(projectile, summary.key) {
  <form method="post" action="@com.kyleu.projectile.web.controllers.project.routes.ProjectFormController.saveSummary()">
  <div class="collection with-header">
    <div class="collection-header">
      <h5><i class=" @com.kyleu.projectile.models.template.Icons.project"></i> @summary.key</h5>
    </div>
    @if(summary.key == "new") {
      <div class="collection-item">
        <div class="input-field">
          <input id="key" name="key" type="text" required class="validate" />
          <label for="key">Key</label>
        </div>
      </div>
    } else {
      <input type="hidden" name="key" value="@summary.key" />
    }
    <div class="collection-item">
      <div class="input-field">
        <input id="description" name="description" type="text" value="@summary.description" />
        <label for="description">Description</label>
      </div>
    </div>
    <div class="collection-item">
      <div class="input-field">
        <select id="input" name="input">
        @inputs.map { i =>
          @if(summary.input == i) {
            <option value="@i" selected="selected">@i</option>
          } else {
            <option value="@i">@i</option>
          }
        }
        </select>
        <label for="input">Input</label>
      </div>
    </div>
    <div class="collection-item">
      <div class="input-field">
        <select id="template" name="template">
        @com.kyleu.projectile.models.project.ProjectTemplate.values.map { t =>
          @if(summary.template == t) {
            <option value="@t.value" selected="selected">@t.title</option>
          } else {
            <option value="@t.value">@t.title</option>
          }
        }
        </select>
        <label for="template">Template</label>
      </div>
    </div>
    <div class="collection-item">
      <input class="btn theme" type="submit" value="Create Project" />
      <a class="btn-flat theme-text" href="@com.kyleu.projectile.web.controllers.routes.HomeController.index()">Cancel</a>
    </div>
  </div>
  </form>
  <style>
    .input-field {
      margin-top: 16px;
    }
  </style>
  <script>
    $(function(){
      $('select').formSelect();
    });
  </script>
}
