@(projectile: com.kyleu.projectile.services.ProjectileService, project: com.kyleu.projectile.models.project.Project)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@com.kyleu.projectile.web.views.html.layout.simple(projectile = projectile, title = project.key + " Service Members", mainDivClass = "margined") {
  <form action="" method="post">
  <div class="collection with-header">
    <div class="collection-header">
      <div class="right">
        <input type="submit" class="btn theme" value="Save" />
      </div>
      <h5><i class="@project.template.icon"></i> [@project.key] Service Members</h5>
      <div>@com.kyleu.projectile.util.NumberUtils.withCommas(project.services.size) Available</div>
    </div>
    <div class="collection-item">
      @if(project.services.isEmpty) {
        No services available. Why not <a href="@com.kyleu.projectile.web.controllers.project.routes.ProjectServiceController.formNew(project.key)">add some</a>?
      } else {
        <table>
          <thead>
            <tr>
              <th>Package</th>
              <th>Name</th>
              <th>Property Override</th>
              <th>Class Override</th>
              @project.serviceFeatures.map { f =>
                <th style="width: 120px;">
                  <div title="@f.description">@f.title</div>
                  <div>
                    <a href="" onclick="checkAll('@f.value'); return false;">All</a> /
                    <a href="" onclick="uncheckAll('@f.value'); return false;">@com.kyleu.projectile.util.NullUtils.str</a>
                  </div>
                </th>
              }
            </tr>
          </thead>
          <tbody>
            @project.services.sortBy(_.key).map { s =>
              <tr>
                <td><input id="@s.key-package" name="@s.key-package" type="text" value="@s.pkg.mkString(".")" /></td>
                <td>@s.key</td>
                <td><input id="@s.key-propertyName" name="@s.key-propertyName" type="text" value="@s.getOverride("propertyName", "")" /></td>
                <td><input id="@s.key-className" name="@s.key-className" type="text" value="@s.getOverride("className", "")" /></td>
                @project.serviceFeatures.map { f =>
                  <td>
                    <label for="@s.key-feature-@f.value">
                      <input id="@s.key-feature-@f.value" name="@s.key-feature-@f.value" class="input-@f.value" value="true" type="checkbox" @if(s.features(f)) { checked="checked" } />
                      <span></span>
                    </label>
                  </td>
                }
              </tr>
            }
          </tbody>
        </table>
      }
    </div>
  </div>
  </form>
  <script>
    function checkAll(k) {
      $(".input-" + k).attr("checked", "checked");
    }
    function uncheckAll(k) {
      $(".input-" + k).removeAttr("checked");
    }
  </script>
}
