@(projectile: com.kyleu.projectile.services.ProjectileService)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, td: com.kyleu.projectile.util.tracing.TraceData
)@com.kyleu.projectile.web.views.html.layout.simple(projectile, com.kyleu.projectile.util.Version.projectName) {
  <div class="row">
    <div class="col s12">
      <div class="collection with-header">
        <div class="collection-header">
          <h5>Testbed</h5>
        </div>
        <div class="collection-item">
          TODO
        </div>
      </div>
    </div>
  </div>
}
