html {
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

// Nav bar
.brand-sidebar .logo-wrapper a.brand-logo img {
  padding: 0 7px;
}

#breadcrumbs-wrapper {
  background: transparent;
}

.sidenav li a.active {
  background: inherit;
  box-shadow: none;
}

.sidenav li .collapsible-body a i {
  font-size: 1rem;
}

.sidenav li .collapsible-body a {
  margin-left: 6px;
}

// Splash page
.splash-bg {
  background-image: url('/components/images/flat-bg.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

#splash-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .card-panel.border-radius-6.splash-card {
    margin-left: 0 !important;
  }
}

#splash-content .card-panel.border-radius-6.splash-card {
  margin-left: 0 !important;
}

// Layout
.full-size {
  width: 100%;
  height: calc(100vh - 64px);
  border: 0;
  padding: 0;
}

// Tables
.data-table {
  td {
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

// Forms
.nullable-input-container {
  position: relative;
}

.nullable-link {
  font-size: 150%;
  cursor: pointer;
  position: absolute;
  right: 6px;
  top: 14px;
}

.inline.material-icons {
  font-size: 80%;
}

input[type="text"].lookup {
  margin-left: 3rem;
}

::-webkit-input-placeholder, ::-moz-placeholder, ::placeholder {
  color: #000;
}

.plain-link {
  border: 0;
  background: transparent;
  color: #3949ab;
}

.primary-key {
}

.foreign-key {
}

// Colors
.collapsible-body {
  background-color: white;
}
