@(user: Option[com.kyleu.projectile.models.user.SystemUser], devmode: Boolean)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, traceData: com.kyleu.projectile.util.tracing.TraceData
)@traceData.logClass(getClass)@com.kyleu.projectile.views.html.layout.simple(user = user, title = "Connection Test", mainDivClass = "") {
  <div class="row">
    <div class="col s12">
      <div id="connection-status">Connecting...</div>
    </div>
    <div class="col s12">
      <div id="connection-log"></div>
    </div>
  </div>

  @views.html.components.includeScalaJs(devmode)
  <script>$(function() { new Entrypoint("@{user.map(_.id).getOrElse("") }", @{!devmode}); });</script>
}
