@(projectile: com.kyleu.projectile.services.ProjectileService, key: String, p: com.kyleu.projectile.models.project.ProjectSummary, member: com.kyleu.projectile.models.project.member.ServiceMember, svc: com.kyleu.projectile.models.export.ExportService)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.simple(projectile, svc.key + " Service") {
  <form method="post" action="@controllers.project.routes.ProjectServiceController.save(p.key, svc.key)">
    <div class="collection with-header">
      <div class="collection-header">
        <div class="right">
          <a class="btn-flat theme-text" href="@controllers.routes.FileController.viewFile(s"project/$key/service/${svc.key}.json")">Edit Json</a>
          <input class="theme btn" type="submit" value="Save" />
        </div>
        <h5><i class=" @com.kyleu.projectile.models.template.Icons.service"></i> @svc.key</h5>
        <em><a class="theme-text" href="@controllers.project.routes.ProjectController.detail(p.key)">@p.key</a> Service</em>
        (<a class="theme-text" href="@controllers.project.routes.ProjectServiceController.remove(p.key, member.key)">Remove</a>)
      </div>
      <div class="collection-item">
        <label for="package">Package</label>
        <input id="package" name="package" value="@svc.pkg.mkString(".")" />
      </div>
      <div class="collection-item">
        <label for="propertyName">Property Name</label>
        <input id="propertyName" name="propertyName" value="@svc.propertyName" />
      </div>
      <div class="collection-item">
        <label for="className">Class Name</label>
        <input id="className" name="className" value="@svc.className" />
      </div>
      <div class="collection-item">
        <h6>Features</h6>
        @p.serviceFeatures.map { feat =>
          <div>
            <label>
              <input name="features" type="checkbox" value="@feat.value" @if(member.features(feat)) { checked="checked" } />
              <span>@feat.title</span>
            </label>
          </div>
        }
      </div>
      <div class="collection-item">
        <h6>Methods</h6>
        <table>
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
            @svc.methods.map { m =>
              <tr>
                <td>@m.signature</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
  </form>
}
