@(projectile: services.ProjectileService, key: String, e: models.export.ExportEnum)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.simple(projectile, e.className + " Enum") {
  <div class="collection with-header">
    <div class="collection-header">
      <div class="right"><a class="theme-text" href="@controllers.routes.HomeController.viewFile(s"project/$key/enum/${e.name}.json")">Edit</a></div>
      <h5><i class="@models.template.Icons.enum"></i> @e.className</h5>
    </div>
    @e.values.map { v =>
      <div class="collection-item">
        @v
      </div>
    }
  </div>
}
