@(projectile: services.ProjectileService, key: String, p: models.project.ProjectSummary, m: models.project.member.EnumMember, e: models.export.ExportEnum)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.simple(projectile, e.className + " Enum") {
  <form method="post" action="@controllers.project.routes.ProjectEnumController.save(p.key, e.key)">
    <div class="collection with-header">
      <div class="collection-header">
        <div class="right">
          <a class="btn-flat theme-text" href="@controllers.routes.FileController.viewFile(s"project/$key/enum/${e.key}.json")">Edit Json</a>
          <input class="theme btn" type="submit" value="Save" />
        </div>
        <h5><i class="@models.template.Icons.enum"></i> @e.className</h5>
        <em><a class="theme-text" href="@controllers.project.routes.ProjectController.detail(p.key)">@p.title</a> Enum</em>
        (<a class="theme-text" href="@controllers.project.routes.ProjectEnumController.remove(p.key, m.key)">Remove</a>)
      </div>
      <div class="collection-item">
        <label for="package">Package</label>
        <input id="package" name="package" value="@e.pkg.mkString(".")" />
      </div>
      <div class="collection-item">
        <label for="propertyName">Property Name</label>
        <input id="propertyName" name="propertyName" value="@e.propertyName" />
      </div>
      <div class="collection-item">
        <label for="className">Class Name</label>
        <input id="className" name="className" value="@e.className" />
      </div>
      <div class="collection-item">
        <h6>Features</h6>
        @p.enumFeatures.map { feat =>
          <div>
            <label>
              <input name="features" type="checkbox" value="@feat.value" @if(e.features(feat)) { checked="checked" } />
              <span>@feat.title</span>
            </label>
          </div>
        }
      </div>
      <div class="collection-item">
        <h6>Values</h6>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Ignored</th>
            </tr>
          </thead>
          <tbody>
          @e.values.map { v =>
            <tr>
              <td>@v</td>
              <td>
                <label>
                  <input name="ignored" value="@v" type="checkbox" @if(m.ignored(v)) { checked="checked" } />
                  <span></span>
                </label>
              </td>
            </tr>
          }
          </tbody>
        </table>
      </div>
    </div>
  </form>
}
