@(projectile: com.kyleu.projectile.services.ProjectileService, key: String, p: com.kyleu.projectile.models.project.ProjectSummary, member: com.kyleu.projectile.models.project.member.ModelMember, m: com.kyleu.projectile.models.export.ExportModel)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.simple(projectile, m.title + " Model") {
  <form method="post" action="@controllers.project.routes.ProjectModelController.save(p.key, m.key)">
    <div class="collection with-header">
      <div class="collection-header">
        <div class="right">
          <a class="btn-flat theme-text" href="@controllers.routes.FileController.viewFile(s"project/$key/model/${m.key}.json")">Edit Json</a>
          <input class="theme btn" type="submit" value="Save" />
        </div>
        <h5><i class=" @com.kyleu.projectile.models.template.Icons.model"></i> @m.title</h5>
        <em><a class="theme-text" href="@controllers.project.routes.ProjectController.detail(p.key)">@p.title</a> Model</em>
        (<a class="theme-text" href="@controllers.project.routes.ProjectModelController.remove(p.key, member.key)">Remove</a>)
      </div>
      <div class="collection-item">
        <label for="package">Package</label>
        <input id="package" name="package" value="@m.pkg.mkString(".")" />
      </div>
      <div class="collection-item">
        <label for="propertyName">Property Name</label>
        <input id="propertyName" name="propertyName" value="@m.propertyName" />
      </div>
      <div class="collection-item">
        <label for="className">Class Name</label>
        <input id="className" name="className" value="@m.className" />
      </div>
      <div class="collection-item">
        <label for="title">Title</label>
        <input id="title" name="title" value="@m.title" />
      </div>
      <div class="collection-item">
        <label for="plural">Plural</label>
        <input id="plural" name="plural" value="@m.plural" />
      </div>
      <div class="collection-item">
        <h6>Features</h6>
        @p.modelFeatures.map { feat =>
          <div>
            <label>
              <input name="features" type="checkbox" value="@feat.value" @if(member.features(feat)) { checked="checked" } />
              <span>@feat.title</span>
            </label>
          </div>
        }
      </div>
      <div class="collection-item">
        <h6>Fields</h6>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Property</th>
              <th>Title</th>
              <th>Search</th>
              <th>Ignored</th>
            </tr>
          </thead>
          <tbody>
            @m.fields.map { f =>
              <tr>
                <td>@f.key</td>
                <td>
                  <input id="field-@f.key-propertyName" name="field-@f.key-propertyName" value="@f.propertyName" />
                </td>
                <td>
                  <input id="field-@f.key-title" name="field-@f.key-title" value="@f.title" />
                </td>
                <td>
                  <label>
                    <input name="field-@f.key-search" value="true" type="checkbox" @if(f.inSearch) { checked="checked" } />
                    <span></span>
                  </label>
                </td>
                <td>
                  <label>
                    <input name="ignored" value="@f.key" type="checkbox" @if(member.ignored(f.key)) { checked="checked" } />
                    <span></span>
                  </label>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>
      @if(m.references.nonEmpty) {
        <div class="collection-item">
          <h6>References</h6>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Source</th>
                <th>Target</th>
                <th>Property</th>
                <th>Ignored</th>
              </tr>
            </thead>
            <tbody>
              @m.references.map { r =>
                <tr>
                  <td>@r.name</td>
                  <td>@r.srcTable</td>
                  <td>@r.srcCol</td>
                  <td>
                    <input id="reference-@r.name-propertyName" name="reference-@r.name-propertyName" value="@r.propertyName" />
                  </td>
                  <td>
                    <label>
                      <input name="ignored" value="ref.@r.name" type="checkbox" @if(member.ignored("ref-" + r.name)) { checked="checked" } />
                      <span></span>
                    </label>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      }
      @if(m.foreignKeys.nonEmpty) {
        <div class="collection-item">
          <h6>Foreign Keys</h6>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Target Table</th>
                <th>Property</th>
                <th>Ignored</th>
              </tr>
            </thead>
            <tbody>
              @m.foreignKeys.map { fk =>
                <tr>
                  <td>@fk.name</td>
                  <td>@fk.targetTable</td>
                  <td>
                    <input id="fk-@fk.name-propertyName" name="fk-@fk.name-propertyName" value="@fk.propertyName" />
                  </td>
                  <td>
                    <label>
                      <input name="ignored" value="fk.@fk.name" type="checkbox" @if(member.ignored("fk-" + fk.name)) { checked="checked" } />
                      <span></span>
                    </label>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      }
    </div>
  </form>
}
