@(username: String, email: String, cfg: com.kyleu.projectile.models.config.UiConfig)(
    implicit session: Session, flash: Flash
)@com.kyleu.projectile.components.views.html.layout.splash("Sign up for " + cfg.projectName, cfg) {
  <div class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 splash-card bg-opacity-8">
    <form action="@cfg.urls.signup" method="post">
      <div class="row">
        <div class="input-field col s12">
          <h5 class="ml-4">Sign up for @cfg.projectName</h5>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="material-icons prefix pt-2">person_outline</i>
          <input id="username" type="text" value="@username">
          <label for="username" class="center-align">Username</label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="material-icons prefix pt-2">mail_outline</i>
          <input id="email" type="email" value="@email">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <i class="material-icons prefix pt-2">lock_outline</i>
          <input id="password" type="password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <button type="submit" class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12">Register</button>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <p class="margin medium-small"><a href="@cfg.urls.signin">Sign in</a></p>
        </div>
      </div>
    </form>
  </div>
}
