@(service: services.ProjectileService, input: models.database.input.PostgresInput)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.simple(service, input.title + " Input Detail") {
  <div class="right">
    <a class="btn theme" href="@controllers.routes.InputController.refresh(input.key)">Refresh</a>
  </div>

  <div>
    <h5><i class="@input.t.icon"></i> @input.title</h5>
    @input.description
  </div>


  <ul class="tabs">
    <li class="tab"><a href="#schema-detail"><i class="@models.template.Icons.database"></i> Summary</a></li>
    @if(input.enums.nonEmpty) {
      <li class="tab"><a href="#schema-enums"><i class="@models.template.Icons.enum"></i> @input.enums.size Enums</a></li>
    }
    @if(input.tables.nonEmpty) {
      <li class="tab"><a href="#schema-tables"><i class="@models.template.Icons.enum"></i> @input.tables.size Tables</a></li>
    }
    @if(input.views.nonEmpty) {
      <li class="tab"><a href="#schema-views"><i class="@models.template.Icons.enum"></i> @input.views.size Views</a></li>
    }
  </ul>

  <div id="schema-detail">
    <div class="collection">
      <div class="collection-item">
        <div>@input.title</div>
        <em>@input.description</em>
      </div>
      <div class="collection-item">@input.url</div>
      <div class="collection-item">Username: @input.username</div>
    </div>
  </div>

  @if(input.enums.nonEmpty) {
    <div id="schema-enums">
      <div class="collection">
        @input.enums.map { e =>
          <div class="collection-item">
            <div class="right">@e.values.size values</div>
            <a href="@controllers.routes.HomeController.viewFile(s"input/${input.key}/enums/${e.key}.json")" class="theme-text">@e.key</a>
          </div>
        }
      </div>
    </div>
  }

  @if(input.tables.nonEmpty) {
    <div id="schema-tables">
      <div class="collection">
        @input.tables.map { t =>
          <div class="collection-item">
            <div class="right">@t.columns.size columns</div>
            <a href="@controllers.routes.HomeController.viewFile(s"input/${input.key}/tables/${t.name}.json")" class="theme-text">@t.name</a>
          </div>
        }
      </div>
    </div>
  }

  @if(input.views.nonEmpty) {
    <div id="schema-views">
      <div class="collection">
        <div class="collection-item">
          @input.views.map { v =>
            <div class="collection-item">
              <div class="right">@v.columns.size columns</div>
              <a href="@controllers.routes.HomeController.viewFile(s"input/${input.key}/views/${v.name}.json")" class="theme-text">@v.name</a>
            </div>
          }
        </div>
      </div>
    </div>
  }

  <script>
    $(function() {
      $('.tabs').tabs();
    });
  </script>
}
