@(user: com.kyleu.projectile.models.user.SystemUser, cfg: com.kyleu.projectile.models.config.UiConfig, connections: Seq[com.kyleu.projectile.models.connection.ConnectionDescription])(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@com.kyleu.projectile.components.views.html.layout.page("Active Connections", cfg) {
  <ul class="collection with-header">
    <li class="collection-header">
      <h5><i class="fa fa-globe"></i> @com.kyleu.projectile.util.NumberUtils.withCommas(connections.size) Active Connections</h5>
    </li>
    <li class="collection-item">
      <form action="@com.kyleu.projectile.controllers.connection.routes.ConnectionActivityController.broadcast()" method="get">
        <input placeholder="Message" id="broadcast-input" name="msg" type="text" class="validate" />
        <button type="submit" class="btn theme" style="margin: 8px 0;">Broadcast</button>
      </form>
    </li>
    <li class="collection-item">
      @if(connections.isEmpty) {
        <em>
          No active connections.
        </em>
      } else {
        <table class="bordered">
          <tbody>
            <tr>
              <th>ID</th>
              <th>User ID</th>
              <th>Username</th>
              <th>Channel</th>
              <th>Started</th>
            </tr>
            @connections.map { connection =>
              <tr>
                <td>
                  <a href="@com.kyleu.projectile.controllers.connection.routes.ConnectionActivityController.connectionDetail(connection.id)">@connection.id</a>
                </td>
                <td>@connection.userId</td>
                <td>@connection.username</td>
                <td>@connection.channel</td>
                <td>@connection.started</td>
              </tr>
            }
          </tbody>
        </table>
      }
    </li>
  </ul>
}
