@(projectile: com.projectile.services.ProjectileService, path: String, content: String)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.simple(projectile, path) {
  <div class="collection with-header">
    <div class="collection-header">
      <div class="right">
        <a href="@controllers.routes.FileController.deleteFile(path)" class="theme-text" onclick="return confirm('Are you sure you want to delete this file?');">Delete File</a>
      </div>
      <h5><i class=" @com.projectile.models.template.Icons.file"></i> @path</h5>
    </div>
    <div class="collection-item">
      <form method="post" action="@controllers.routes.FileController.editFile(path)">
        <textarea name="content" class="materialize-textarea">@content</textarea>
        <input type="submit" class="btn theme" value="Save Changes" />
      </form>
    </div>
  </div>
  <script>
    M.textareaAutoResize($('.materialize-textarea'));
  </script>
}
