@(root: String, cfg: com.kyleu.projectile.models.config.UiConfig)(implicit session: Session, flash: Flash)
@com.kyleu.projectile.views.html.layout.core(
  title = cfg.projectName + " Schema",
  scripts = Seq(
    com.kyleu.projectile.controllers.routes.Assets.versioned("vendor/graphql/react.min.js").url,
    com.kyleu.projectile.controllers.routes.Assets.versioned("vendor/graphql/react-dom.min.js").url,
    com.kyleu.projectile.controllers.routes.Assets.versioned("vendor/graphql/voyager.min.js").url
  ),
  stylesheets = Seq(
    com.kyleu.projectile.controllers.routes.Assets.versioned("vendor/graphql/voyager.css").url
  )
) {
  <style>
    .title-area, .type-doc>.doc-navigation {
      display: none;
    }
  </style>

  <main id="voyager">Loading...</main>
  <script>
    function introspectionProvider(introspectionQuery) {
      return fetch('/admin/graphql', {
        method: 'post',
        headers: {
          'Accept': 'application/json',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({query: introspectionQuery}),
        credentials: 'include'
      }).then(function (response) {
        return response.text();
      }).then(function (responseBody) {
        try {
          return JSON.parse(responseBody);
        } catch (error) {
          console.log(error);
          return responseBody;
        }
      });
    }

    GraphQLVoyager.init(document.getElementById('voyager'), {
      "introspection": introspectionProvider,
      "displayOptions": {
        "rootType": "@root"
      },
      "workerURI": "vendor/graphql/voyager.worker.js"
    })
  </script>
}
