@(title: String, cfg: com.kyleu.projectile.models.config.UiConfig, icon: Option[String])
@bc() = {
  <ol class="breadcrumbs mb-0">
    @cfg.breadcrumbs.map { b =>
      @if(cfg.breadcrumbs.lastOption.contains(b)) {
        <li class="breadcrumb-item active">@b.title</li>
      } else {
        @if(b.url.isDefined) {
          <li class="breadcrumb-item"><a href="@b.url">@b.title</a></li>
        } else {
          @if(com.kyleu.projectile.models.module.ApplicationFeature.enabled(com.kyleu.projectile.models.module.ApplicationFeature.Sitemap)) {
            <li class="breadcrumb-item"><a href="@com.kyleu.projectile.controllers.sitemap.routes.SitemapController.menu((cfg.breadcrumbs.takeWhile(_ != b) :+ b).map(_.key).mkString("/"))">@b.title</a></li>
          } else {
            <li class="breadcrumb-item">@b.title</li>
          }
        }
      }
    }
  </ol>
}

@if(cfg.user.theme == com.kyleu.projectile.models.user.Theme.Default.value) {
  <div class="breadcrumbs-inline" style="padding: 24px 0;" id="breadcrumbs-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 breadcrumbs-left">
          <h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down">@icon.map { i => <i class="material-icons inline">@i</i> } @title</h5>
          @bc()
        </div>
      </div>
    </div>
  </div>
}
@if(cfg.user.theme == com.kyleu.projectile.models.user.Theme.Dark.value) {
  <div class="breadcrumbs-bg-image" data-image="@com.kyleu.projectile.controllers.routes.Assets.versioned("images/breadcrumb-bg.jpg")" id="breadcrumbs-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 m6 l6">
          <h5 class="breadcrumbs-title mt-0 mb-0">@icon.map { i => <i class="material-icons inline">@i</i> } @title</h5>
        </div>
        <div class="col s12 m6 l6 right-align-md">
          @bc()
        </div>
      </div>
    </div>
  </div>
}
@if(cfg.user.theme == com.kyleu.projectile.models.user.Theme.Gradient.value) {
  <div style="padding: 24px 0;" id="breadcrumbs-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 m6 l6">
          <h5 class="breadcrumbs-title mt-0 mb-0">@icon.map { i => <i class="material-icons inline">@i</i> } @title</h5>
        </div>
        <div class="col s12 m6 l6 right-align-md">
          @bc()
        </div>
      </div>
    </div>
  </div>
}
@if(cfg.user.theme == com.kyleu.projectile.models.user.Theme.Modern.value) {
  <div class="breadcrumbs-dark" style="padding: 24px 0;" id="breadcrumbs-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 breadcrumbs-left">
          <h5 class="breadcrumbs-title mt-0 mb-0">@icon.map { i => <i class="material-icons inline">@i</i> } @title</h5>
          @bc()
        </div>
      </div>
    </div>
  </div>
}
