@(title: String, cfg: com.kyleu.projectile.models.config.UiConfig, scripts: Seq[String] = Nil, stylesheets: Seq[String] = Nil)(content: Html)
@com.kyleu.projectile.views.html.layout.core(
  title = title,
  scripts = com.kyleu.projectile.models.web.ControllerUtils.commonScripts ++ scripts,
  stylesheets = com.kyleu.projectile.models.web.ControllerUtils.commonStylesheets ++ stylesheets
) {
  @defining(com.kyleu.projectile.models.user.Theme.withValue(cfg.user.theme)) { theme =>
    <body class="@theme.bodyClass vertical-layout vertical-menu-collapsible 2-columns">
      @com.kyleu.projectile.views.html.layout.pageHeader(cfg, theme)
      @com.kyleu.projectile.views.html.layout.pageNav(cfg, theme)
      <div id="main" @if(cfg.user.menuCollapsed) { class="main-full" }>
        @content
      </div>
    </body>
    @if(cfg.user.menuCollapsed) {
      <script>
        $(function() {
          $(".sidenav-main.nav-collapsible, .navbar .brand-sidebar").trigger("mouseleave");
        });
      </script>
    }
  }
}
