@(title: String, cfg: com.kyleu.projectile.models.config.UiConfig, icon: Option[String] = None, scripts: Seq[String] = Nil, stylesheets: Seq[String] = Nil)(
    content: Html
)(implicit flash: Flash) @com.kyleu.projectile.views.html.layout.fullscreen(title = title, cfg = cfg, scripts = scripts, stylesheets = stylesheets) {
  @defining(com.kyleu.projectile.models.user.Theme.withValue(cfg.user.theme)) { theme =>
    <div class="row">
      @theme.contentBefore.map { cb => <div class="content-wrapper-before @cfg.user.navbarColor"></div> }
      @com.kyleu.projectile.views.html.layout.breadcrumbs(title, cfg, icon)
      @flash.get("error").map { err =>
        <div class="card-alert card gradient-45deg-red-pink">
          <div class="card-content white-text">
            <p>
              <i class="material-icons inline">@com.kyleu.projectile.models.web.InternalIcons.error</i> @err</p>
          </div>
          <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close" onclick="$(this).closest('.card-alert').fadeOut('slow');">
            <span aria-hidden="true">×</span>
          </button>
        </div>
      }
      @flash.get("success").map { success =>
        <div class="card-alert card gradient-45deg-green-teal">
          <div class="card-content white-text">
            <p><i class="material-icons inline">@com.kyleu.projectile.models.web.InternalIcons.success</i> @success</p>
          </div>
          <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close" onclick="$(this).closest('.card-alert').fadeOut('slow');">
            <span aria-hidden="true">×</span>
          </button>
        </div>
      }
      <div class="col s12">
        <div class="container">
          @content
        </div>
      </div>
    </div>
  }
}
