@(
    i: com.kyleu.projectile.models.menu.NavMenu,
    history: Seq[String],
    breadcrumbs: Seq[com.kyleu.projectile.models.config.BreadcrumbEntry],
    menuColor: Option[String],
    act: Boolean = true
)
@defining(act && breadcrumbs.headOption.exists(_.key == i.key)) { active =>
  @defining(i.url.orElse(if(com.kyleu.projectile.models.module.ApplicationFeature.enabled(com.kyleu.projectile.models.module.ApplicationFeature.Sitemap)) {
    Some(com.kyleu.projectile.controllers.sitemap.routes.SitemapController.menu((history :+ i.key).mkString("/")).url)
  } else {
    None
  })) { url =>
    @if(i.flatSection) {
      <li id="nav-@i.key" class="navigation-header">
        <a @url.map { u => href="@u" } onclick="return false;" class="navigation-header-text" style="cursor: default;">@i.title</a>
        <i class="navigation-header-icon material-icons">@com.kyleu.projectile.models.web.InternalIcons.section</i>
      </li>
      @i.children.map { child =>
        @com.kyleu.projectile.views.html.layout.pageNavItem(child, history :+ i.key, breadcrumbs.drop(1), menuColor, active)
      }
    } else {
      @if(i.children.isEmpty) {
        <li id="nav-@i.key" class="bold@if(active) { active}">
          <a class="waves-effect waves-cyan@if(active) { @menuColor active}" href="@url">
            <i class="material-icons">@i.icon.getOrElse(com.kyleu.projectile.models.web.InternalIcons.default)</i>
            <span class="menu-title">@i.title</span>
          </a>
        </li>
      } else {
        <li id="nav-@i.key" class="bold @if(active) { active}">
          <a class="collapsible-header waves-effect waves-cyan" href="@url" onclick="return false;">
            <i class="material-icons">@i.icon.getOrElse(com.kyleu.projectile.models.web.InternalIcons.default)</i>
            <span class="menu-title" data-i18n="">@i.title</span>
          </a>
          <div class="collapsible-body">
            <ul class="collapsible collapsible-sub" data-collapsible="accordion">
            @i.children.map { child =>
              @com.kyleu.projectile.views.html.layout.pageNavItem(child, history :+ i.key, breadcrumbs.drop(1), menuColor, active)
            }
            </ul>
          </div>
        </li>
      }
    }
  }
}
