@(title: String, fullWidth: Boolean = false, scripts: Seq[String] = Nil, stylesheets: Seq[String] = Nil)(content: Html)(
    implicit flash: Flash
)@com.kyleu.projectile.views.html.layout.core(
  title = title,
  scripts = com.kyleu.projectile.models.web.ControllerUtils.commonScripts ++ scripts,
  stylesheets = com.kyleu.projectile.models.web.ControllerUtils.commonStylesheets ++ stylesheets
) {
 <body class="splash-bg" data-open="click" data-menu="vertical-menu-nav-dark" data-col="1-column">
    <div class="row">
      <div class="col s12">
        <div class="container">
          <div id="splash-content" class="row">
            @defining(if(fullWidth) { "s12" } else { "s12 m6 l4" }) { width =>
              <div class="col @width z-depth-4 card-panel border-radius-6 splash-card bg-opacity-8">
                @flash.get("error").map { err =>
                  <div class="card-alert card gradient-45deg-red-pink">
                    <div class="card-content white-text">
                      <p>
                        <i class="material-icons">@com.kyleu.projectile.models.web.InternalIcons.error</i> @err</p>
                    </div>
                    <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                }
                @flash.get("success").map { success =>
                  <div class="card-alert card gradient-45deg-green-teal">
                    <div class="card-content white-text">
                      <p><i class="material-icons">@com.kyleu.projectile.models.web.InternalIcons.success</i> @success</p>
                    </div>
                    <button type="button" class="close white-text" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
                }
                @content
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </body>
}
