@(title: String, cfg: com.kyleu.projectile.models.config.UiConfig)(
    implicit session: Session, flash: Flash
)@com.kyleu.projectile.components.views.html.layout.page(title = title, cfg = cfg) {
  <div class="section">
    <div class="card">
      <div class="card-content">
        <p class="caption mb-0">
          Hello!
        </p>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="card">
      <div class="card-content">
        <div style="overflow: auto;">
          <table class="bordered responsive-table">
            <thead>
              <tr>
                <th>One</th>
                <th>Two</th>
                <th>Three</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>A</td>
                <td>B</td>
                <td>C</td>
              </tr>
              <tr>
                <td>X</td>
                <td>Y</td>
                <td>Z</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
}
