@(
    selected: Boolean, key: String, title: String, value: Option[String], nullable: Boolean, dataType: String = "string",
    call: Call, acType: (String, String), icon: String, inputType: String = "text", isPk: Boolean = false
)@com.kyleu.projectile.views.html.components.form.fieldWrapper(selected = selected, key = key, title = title, nullable = nullable, isPk = isPk, dataType = dataType) {
  <div class="autocomplete" id="autocomplete-@key">
    <div class="ac-input">
      <div class="input-field">
        <i class="material-icons prefix" title="@acType._2">@icon</i>
        <input id="input-@key" class="lookup@if(nullable) { nullable} @com.kyleu.projectile.util.FormUtils.inputClass(isPk, isFk = true)" data-model="@acType._1" data-url="@call" data-activates="dropdown-@key" data-beloworigin="true" autocomplete="off" type="@inputType" name="@key" value="@value.getOrElse("")" />
      </div>
    </div>
    <ul id="dropdown-@key" class="dropdown-content ac-dropdown"></ul>
  </div>
}
