@(
    selected: Boolean, key: String, title: String, value: Option[java.time.LocalDateTime], nullable: Boolean
)@com.kyleu.projectile.views.html.components.form.fieldWrapper(selected = selected, key = key, title = title, nullable = nullable, dataType = "timestamp") {
  <div class="input-field" style="width: 50%; float: left; margin-left: 0;">
    <i class="material-icons prefix">calendar_today</i>
    <input id="input-@{key}-date" data-original="@value.map(_.toLocalDate).getOrElse(com.kyleu.projectile.util.NullUtils.str)" class="datepicker" autocomplete="off" type="text" name="@{key}-date" value="@value.map(_.toLocalDate).getOrElse(com.kyleu.projectile.util.NullUtils.str)" />
  </div>
  <div class="input-field" style="width: 50%; float: right; margin-left: 0;">
    <i class="material-icons prefix">access_time</i>
    <input id="input-@{key}-time" data-original="@value.map(_.toLocalTime).getOrElse(com.kyleu.projectile.util.NullUtils.str)" type="text" name="@{key}-time" value="@value.map(_.toLocalTime).getOrElse(com.kyleu.projectile.util.NullUtils.str)" />
  </div>
}
