@(
    selected: Boolean, key: String, title: String, value: Option[java.time.LocalDate], nullable: Boolean, isPk: Boolean = false, isFk: Boolean = false
)@com.kyleu.projectile.views.html.components.form.fieldWrapper(selected = selected, key = key, title = title, nullable = nullable, isPk = isPk, dataType = "date") {
  <div class="input-field">
    <i class="material-icons prefix">@com.kyleu.projectile.models.web.InternalIcons.date</i>
    <input id="input-@key" data-original="@value.getOrElse(com.kyleu.projectile.util.NullUtils.str)" class="datepicker@if(nullable) { nullable} @com.kyleu.projectile.util.FormUtils.inputClass(isPk, isFk)" autocomplete="off" type="text" name="@key" value="@value.getOrElse(com.kyleu.projectile.util.NullUtils.str)" />
  </div>
}
