@(
    selected: Boolean, key: String, title: String, value: Option[java.time.LocalTime], nullable: Boolean
)@com.kyleu.projectile.views.html.components.form.fieldWrapper(selected = selected, key = key, title = title, nullable = nullable, dataType = "time") {
  <div class="input-field">
    <i class="material-icons prefix">@com.kyleu.projectile.models.web.InternalIcons.time</i>
    <input id="input-@key" data-original="@value.getOrElse(com.kyleu.projectile.util.NullUtils.str)" class="@if(nullable) {nullable}" autocomplete="off" type="text" name="@key" value="@value.getOrElse(com.kyleu.projectile.util.NullUtils.str)" />
  </div>
}
