@(
    selected: Boolean, key: String, title: String, value: Option[Map[Any, Any]], nullable: Boolean, isPk: Boolean = false, isFk: Boolean = false
)@com.kyleu.projectile.views.html.components.form.fieldWrapper(selected = selected, key = key, title = title, nullable = nullable, isPk = isPk, dataType = "map") {
  @inputField(selected, key, title, value.map(com.kyleu.projectile.util.StringUtils.fromMap), nullable, cls = Some("tag-editor"), attrs = Some(""" data-t="tags""""), isPk = isPk, isFk = isFk)
}
