@(key: String, options: Seq[(String, Html)], group: Int = 0)
<div id="nestable-@key" class="dd">
  <ol class="dd-list">
    @options.map { v =>
      <li class="dd-item" data-id="@v._1">
        <div class="dd-handle">@v._2</div>
      </li>
    }
  </ol>
</div>
<input type="hidden" name="@key" id="@key" />
<script>
  $(function() {
    function updateOutput(e) {
      var list = e.length ? e : $(e.target);
      var json = JSON.stringify(list.nestable('serialize'), null, 2);
      $("#@key").val(json)
    }

    $("#nestable-@{key}").nestable({
      group: @group
    }).on('change', updateOutput);
  });
</script>
