@(projectile: com.kyleu.projectile.services.ProjectileService, service: com.kyleu.projectile.models.export.ExportService)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, td: com.kyleu.projectile.util.tracing.TraceData
)@com.kyleu.projectile.web.views.html.layout.simple(projectile, s"[${service.key}] Service Detail") {
  <div class="collection with-header">
    <div class="collection-header">
      <h5><i class=" @com.kyleu.projectile.models.template.Icons.service"></i> @service.key</h5>
    </div>
    <div class="collection-item">
      <pre>@com.kyleu.projectile.util.JsonSerializers.printJson(com.kyleu.projectile.util.JsonSerializers.encoderOps(service).asJson)</pre>
    </div>
  </div>
}
