@(projectile: com.kyleu.projectile.services.ProjectileService, model: com.kyleu.projectile.models.export.ExportModel)(
    implicit session: Session, flash: Flash
)@com.kyleu.projectile.web.views.html.layout.simple(projectile, s"[${model.key}] Model Detail") {
  <div class="collection with-header">
    <div class="collection-header">
      <h5><i class=" @com.kyleu.projectile.models.template.Icons.model"></i> @model.key</h5>
    </div>
    <div class="collection-item">
      <pre>@com.kyleu.projectile.util.JsonSerializers.printJson(com.kyleu.projectile.util.JsonSerializers.encoderOps(model).asJson)</pre>
    </div>
  </div>

}
