@(projectile: com.kyleu.projectile.services.ProjectileService, union: com.kyleu.projectile.models.export.ExportUnion)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@com.kyleu.projectile.web.views.html.layout.simple(projectile, s"[${union.key}] Union Detail") {
  <div class="collection with-header">
    <div class="collection-header">
      <h5><i class=" @com.kyleu.projectile.models.template.Icons.union"></i> @union.key</h5>
    </div>
    <div class="collection-item">
      <pre>@com.kyleu.projectile.util.JsonSerializers.printJson(com.kyleu.projectile.util.JsonSerializers.encoderOps(union).asJson)</pre>
    </div>
  </div>
}
