@(projectile: com.kyleu.projectile.services.ProjectileService, enum: com.kyleu.projectile.models.export.ExportEnum)(
    implicit flash: Flash
)@com.kyleu.projectile.web.views.html.layout.simple(projectile, s"[${enum.key}] Enum Detail") {
  <div class="collection with-header">
    <div class="collection-header">
      <h5><i class=" @com.kyleu.projectile.models.template.Icons.enum"></i> @enum.key</h5>
    </div>
    <div class="collection-item">
      <pre>@com.kyleu.projectile.util.JsonSerializers.printJson(com.kyleu.projectile.util.JsonSerializers.encoderOps(enum).asJson)</pre>
    </div>
  </div>
}
