@(projectile: com.kyleu.projectile.services.ProjectileService)(
    implicit session: Session, flash: Flash
)@com.kyleu.projectile.web.views.html.layout.simple(projectile, "New Input") {
  <form method="post" action="@com.kyleu.projectile.web.controllers.input.routes.InputController.save()">
  <div class="collection with-header">
    <div class="collection-header">
      <h5><i class=" @com.kyleu.projectile.models.template.Icons.input"></i> New Input</h5>
    </div>
    <div class="collection-item">
      <div class="input-field">
        <input id="key" name="key" type="text" required class="validate" />
        <label for="key">Key</label>
      </div>
    </div>
    <div class="collection-item">
      <div class="input-field">
        <input id="title" name="title" type="text" required class="validate" />
        <label for="title">Title</label>
      </div>
    </div>
    <div class="collection-item">
      <div class="input-field">
        <input id="description" name="description" type="text" />
        <label for="description">Description</label>
      </div>
    </div>
    <div class="collection-item">
      <div class="input-field">
        <select id="template" name="template">
         @com.kyleu.projectile.models.input.InputTemplate.values.map { t =>
          <option value="@t.value">@t.title</option>
        }
        </select>
        <label for="template">Template</label>
      </div>
    </div>
    <div class="collection-item">
      <input class="btn theme" type="submit" value="Create Input" />
      <a class="btn-flat theme-text" href="@com.kyleu.projectile.web.controllers.routes.HomeController.index()">Cancel</a>
    </div>
  </div>
  </form>
  <style>
      .input-field {
        margin-top: 16px;
      }
  </style>
  <script>
      $(function(){
        $('select').formSelect();
      });
  </script>
}
