@(projectile: com.kyleu.projectile.services.ProjectileService, input: com.kyleu.projectile.models.graphql.input.GraphQLInput)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
) @com.kyleu.projectile.web.views.html.layout.simple(projectile, input.key + " Input Detail") {
  <div class="collection with-header">
    <div class="collection-header">
      <div class="right"><a class="theme-text" href="@com.kyleu.projectile.web.controllers.input.routes.InputController.form(input.key)">Edit</a></div>
      <h5><i class="@input.template.icon"></i> @input.key</h5>
      @input.description (@input.hash)
    </div>
  </div>

  <ul class="tabs">
    <li class="tab"><a href="#input-detail"><i class=" @com.kyleu.projectile.models.template.Icons.graphql"></i> Summary</a></li>
    <li class="tab"><a href="#input-enums"><i class=" @com.kyleu.projectile.models.template.Icons.enum"></i> @input.exportEnums.size Enums</a></li>
    <li class="tab"><a href="#input-models"><i class=" @com.kyleu.projectile.models.template.Icons.model"></i> @input.exportModels.size Models</a></li>
    <li class="tab"><a href="#input-services"><i class=" @com.kyleu.projectile.models.template.Icons.service"></i> @input.exportServices.size Services</a></li>
    @input.schema.map { q =>
      <li class="tab"><a href="#input-@q.schemaClass"><i class=" @com.kyleu.projectile.models.template.Icons.logs"></i> @q.schemaClass</a></li>
    }
  </ul>

  <div id="input-detail">
    <div class="collection">
      @if(input.schema.isEmpty) {
        <div class="collection-item">No GraphQL schemas</div>
      }
      @input.schema.map { q =>
        <div class="collection-item">
          <h6 title="@q.schema">@q.schemaClass</h6>
          <ul>
          @q.fileClasses.map { f =>
            <li title="@f._2"><i class="fa @com.kyleu.projectile.models.template.Icons.file"></i> @f._1</li>
          }
          </ul>
        </div>
      }
      <div class="collection-item">
        <a class="btn theme" href="@com.kyleu.projectile.web.controllers.input.routes.InputController.refresh(input.key)">Refresh</a>
      </div>
    </div>
  </div>

  <div id="input-enums">
    <div class="collection">
      @if(input.exportEnums.isEmpty) {
        <div class="collection-item">No referenced enums</div>
      }
      @input.exportEnums.sortBy(_.key).map { e =>
        <div class="collection-item">
          <div class="right">@e.inputType</div>
          <a href="@com.kyleu.projectile.web.controllers.input.routes.InputController.enumDetail(input.key, e.key)" class="theme-text">@e.key</a>
        </div>
      }
    </div>
  </div>

  <div id="input-models">
    <div class="collection">
      @if(input.exportModels.isEmpty) {
        <div class="collection-item">No referenced models</div>
      }
      @input.exportModels.sortBy(_.key).map { m =>
        <div class="collection-item">
          <div class="right">@m.inputType</div>
          <a href="@com.kyleu.projectile.web.controllers.input.routes.InputController.modelDetail(input.key, m.key)" class="theme-text">@m.key</a>
        </div>
      }
    </div>
  </div>

  <div id="input-services">
    <div class="collection">
      @if(input.exportServices.isEmpty) {
        <div class="collection-item">No referenced services</div>
      }
      @input.exportServices.sortBy(_.key).map { s =>
        <div class="collection-item">
          <div class="right">@s.inputType</div>
          <a href="@com.kyleu.projectile.web.controllers.input.routes.InputController.serviceDetail(input.key, s.key)" class="theme-text">@s.key</a>
        </div>
      }
    </div>
  </div>

  @input.schema.map { q =>
    <div id="input-@q.schemaClass">
      <div class="collection">
        @defining(input.parsedContents(q.schema)) { x =>
          <div class="collection-item">
            <h5>@q.schema</h5>
          </div>
          @x._2.map { y =>
            <div class="collection-item">
              <h6>@y._1</h6>
            </div>
            <div class="collection-item">
              <pre>@y._2</pre>
            </div>
          }
        }
      </div>
    </div>
  }

  <script>
    $(function() {
      $('.tabs').tabs();
    });
  </script>
}
