@(projectile: com.kyleu.projectile.services.ProjectileService, input: com.kyleu.projectile.models.database.input.PostgresInput)(
    implicit flash: Flash
) @com.kyleu.projectile.web.views.html.layout.simple(projectile, input.key + " Input Detail") {
  <div class="collection with-header">
    <div class="collection-header">
      <div class="right"><a class="btn theme" href="@com.kyleu.projectile.web.controllers.input.routes.InputController.form(input.key)">Edit</a></div>
      <h5 title="Hash: @input.hash"><i class="@input.template.icon"></i> @input.key</h5>
      @input.description
    </div>
  </div>

  <ul class="tabs">
    <li class="tab"><a href="#input-detail"><i class=" @com.kyleu.projectile.models.template.Icons.database"></i> Summary</a></li>
    <li class="tab"><a href="#input-enums"><i class=" @com.kyleu.projectile.models.template.Icons.enum"></i> @input.enumTypes.size Enums</a></li>
    <li class="tab"><a href="#input-tables"><i class=" @com.kyleu.projectile.models.template.Icons.table"></i> @input.tables.size Tables</a></li>
    <li class="tab"><a href="#input-views"><i class=" @com.kyleu.projectile.models.template.Icons.view"></i> @input.views.size Views</a></li>
  </ul>

  <div id="input-detail">
    <div class="collection">
      <div class="collection-item">
        @input.url
      </div>
      <div class="collection-item">Username: @input.username</div>
      <div class="collection-item">
        <a class="btn theme" href="@com.kyleu.projectile.web.controllers.input.routes.InputController.refresh(input.key)">Refresh</a>
      </div>
    </div>
  </div>

  <div id="input-enums">
    <div class="collection">
      @if(input.enumTypes.isEmpty) {
        <div class="collection-item">No database enumerations.</div>
      }
      @input.enumTypes.sortBy(_.key).map { e =>
        <div class="collection-item">
          <div class="right">@e.values.size values</div>
          <a href="@com.kyleu.projectile.web.controllers.routes.FileController.viewFile(s"input/${input.key}/enum/${e.key}.json")">@e.key</a>
        </div>
      }
    </div>
  </div>

  <div id="input-tables">
    <div class="collection">
      @if(input.tables.isEmpty) {
        <div class="collection-item">No database tables.</div>
      }
      @input.tables.sortBy(_.name).map { t =>
        <div class="collection-item">
          <div class="right">@t.columns.size columns</div>
          <a href="@com.kyleu.projectile.web.controllers.routes.FileController.viewFile(s"input/${input.key}/table/${t.name}.json")">@t.name</a>
        </div>
      }
    </div>
  </div>

  <div id="input-views">
    <div class="collection">
      @if(input.views.isEmpty) {
        <div class="collection-item">No database views.</div>
      }
      @input.views.sortBy(_.name).map { v =>
        <div class="collection-item">
          <div class="right">@v.columns.size columns</div>
          <a href="@com.kyleu.projectile.web.controllers.routes.FileController.viewFile(s"input/${input.key}/view/${v.name}.json")">@v.name</a>
        </div>
      }
    </div>
  </div>

  <script>
    $(function() {
      $('.tabs').tabs();
    });
  </script>
}
