@(projectile: com.kyleu.projectile.services.ProjectileService, input: com.kyleu.projectile.models.thrift.input.ThriftInput)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
) @com.kyleu.projectile.web.views.html.layout.simple(projectile, input.key + " Input Detail") {
  <div class="collection with-header">
    <div class="collection-header">
      <div class="right"><a class="theme-text" href="@com.kyleu.projectile.web.controllers.input.routes.InputController.form(input.key)">Edit</a></div>
      <h5><i class="@input.template.icon"></i> @input.key</h5>
      @input.description
    </div>
  </div>

  <ul class="tabs">
    <li class="tab"><a href="#input-detail"><i class=" @com.kyleu.projectile.models.template.Icons.database"></i> Summary</a></li>
    <li class="tab"><a href="#input-typedefs"><i class=" @com.kyleu.projectile.models.template.Icons.thrift"></i> @input.typedefs.size Typedefs</a></li>
    <li class="tab"><a href="#input-int-enums"><i class=" @com.kyleu.projectile.models.template.Icons.enum"></i> @input.intEnums.size Int Enums</a></li>
    <li class="tab"><a href="#input-string-enums"><i class=" @com.kyleu.projectile.models.template.Icons.enum"></i> @input.stringEnums.size String Enums</a></li>
    <li class="tab"><a href="#input-structs"><i class=" @com.kyleu.projectile.models.template.Icons.model"></i> @input.structs.size Structs</a></li>
    <li class="tab"><a href="#input-services"><i class=" @com.kyleu.projectile.models.template.Icons.service"></i> @input.services.size Services</a></li>
  </ul>

  <div id="input-detail">
    <div class="collection">
      @if(input.files.isEmpty) {
        <div class="collection-item">No Thrift IDL files</div>
      }
      @input.files.map { f =>
        <div class="collection-item">@f</div>
      }
      <div class="collection-item">
        <a class="btn theme" href="@com.kyleu.projectile.web.controllers.input.routes.InputController.refresh(input.key)">Refresh</a>
      </div>
    </div>
  </div>

  <div id="input-typedefs">
    <div class="collection">
      @if(input.typedefs.isEmpty) {
        <div class="collection-item">No typedefs</div>
      }
      @input.typedefs.toSeq.sortBy(_._1).map { e =>
        <div class="collection-item">@e._1 = @e._2</div>
      }
    </div>
  </div>

  <div id="input-int-enums">
    <div class="collection">
      @if(input.intEnums.isEmpty) {
        <div class="collection-item">No integer enumerations</div>
      }
      @input.intEnums.sortBy(_.key).map { e =>
        <div class="collection-item">
          <div class="right">@e.values.size values</div>
          <a href="@com.kyleu.projectile.web.controllers.input.routes.InputController.enumDetail(input.key, e.key)" class="theme-text">@e.key</a>
        </div>
      }
    </div>
  </div>

  <div id="input-string-enums">
    <div class="collection">
      @if(input.stringEnums.isEmpty) {
        <div class="collection-item">No string enumerations</div>
      }
      @input.stringEnums.sortBy(_.key).map { e =>
        <div class="collection-item">
          <div class="right">@e.values.size values</div>
          <a href="@com.kyleu.projectile.web.controllers.input.routes.InputController.enumDetail(input.key, e.key)" class="theme-text">@e.key</a>
        </div>
      }
    </div>
  </div>

  <div id="input-structs">
    <div class="collection">
      @if(input.structs.isEmpty) {
        <div class="collection-item">No structs</div>
      }
      @input.structs.sortBy(_.key).map { s =>
        <div class="collection-item">
          <div class="right">@s.fields.size fields</div>
          <a href="@com.kyleu.projectile.web.controllers.input.routes.InputController.modelDetail(input.key, s.key)" class="theme-text">@s.key</a>
        </div>
      }
    </div>
  </div>

  <div id="input-services">
    <div class="collection">
      @if(input.services.isEmpty) {
        <div class="collection-item">No services.</div>
      }
      @input.services.sortBy(_.key).map { s =>
        <div class="collection-item">
          <div class="right">@s.methods.size methods</div>
          <a href="@com.kyleu.projectile.web.controllers.input.routes.InputController.serviceDetail(input.key, s.key)" class="theme-text">@s.key</a>
        </div>
      }
    </div>
  </div>

  <script>
    $(function() {
      $('.tabs').tabs();
    });
  </script>
}
