@(projectile: com.kyleu.projectile.services.ProjectileService, json: io.circe.Json, node: com.kyleu.projectile.models.typescript.TypeScriptNode)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, td: com.kyleu.projectile.util.tracing.TraceData
)@com.kyleu.projectile.web.views.html.layout.simple(projectile, "TypeScript Test") {
  <ul class="collapsible expandable">
    <li>
      <div class="collapsible-header">AST JSON</div>
      <div class="collapsible-body">
        <pre>@json.spaces2</pre>
      </div>
    </li>
    @com.kyleu.projectile.web.controllers.input.TypeScriptNodeView.view(node, 0)
  </ul>
  <script language="JavaScript">
    $(function() {
      M.Collapsible.init(document.querySelector('.collapsible.expandable'), {
        accordion: false
      });
    });
  </script>
}
