@(username: String, cfg: com.kyleu.projectile.models.config.UiConfig)(
    implicit session: Session, flash: Flash
)@com.kyleu.projectile.views.html.layout.splash("Sign in to " + cfg.projectName) {
  <form action="@cfg.urls.signin" method="post">
    <div class="row">
      <div class="input-field col s12">
        <h5 class="ml-4">Sign in to @cfg.projectName</h5>
      </div>
    </div>
    <div class="row margin">
      <div class="input-field col s12">
        <i class="material-icons prefix pt-2">@com.kyleu.projectile.models.web.InternalIcons.username</i>
        <input id="email" name="email" type="text">
        <label for="email" class="center-align">Username</label>
      </div>
    </div>
    <div class="row margin">
      <div class="input-field col s12">
        <i class="material-icons prefix pt-2">@com.kyleu.projectile.models.web.InternalIcons.password</i>
        <input id="password" type="password" name="password">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12 m12 l12 ml-2 mt-1">
        <p>
          <label>
            <input type="checkbox" />
            <span>Remember Me</span>
          </label>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <button type="submit" class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12">Login</button>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6 m6 l6">
        @if(cfg.urls.signupAllowed) {
          <p class="margin medium-small"><a href="@cfg.urls.signup">Sign up</a></p>
        }
      </div>
      @if(cfg.urls.oauthProviders.nonEmpty) {
        <div class="input-field col s6 m6 l6">
          <p class="margin right-align medium-small"><a href="@cfg.urls.oauth@cfg.urls.oauthProviders.head">Sign in with Google</a></p>
        </div>
      }
    </div>
  </form>
}
