@(
    user: Option[com.kyleu.projectile.models.user.SystemUser],
    title: String,
    mainDivClass: String = "static-container container",
    scripts: Seq[String] = Nil,
    stylesheets: Seq[String] = Nil
)(content: Html)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@com.kyleu.projectile.views.html.layout.materialize(title, scripts = scripts, stylesheets = stylesheets) {
  <header>
    @com.kyleu.projectile.views.html.components.userDropdown(user)

    <nav id="topnav" class="theme">
      @defining(com.kyleu.projectile.models.auth.AuthActions.getInst) { actions =>
        <a href="@actions.indexUrl" class="brand-logo center">@actions.projectName</a>
        <ul class="right hide-on-small-only">
          <li><a class="dropdown-trigger" href="@actions.profileUrl" data-target="dropdown-user">
            @user.map(_.username).getOrElse("Guest") <i id="user-dropdown-toggle" class="fa fa-angle-down right"></i>
          </a></li>
        </ul>
      }
    </nav>
  </header>

  <main>
    <div class="@mainDivClass">
      @flash.get("error").map { err => <div class="flash-error z-depth-1">@Html(err)</div> }
      @flash.get("success").map { success => <div class="flash-success z-depth-1">@Html(success)</div> }
      @content
    </div>
  </main>
  <script>
    $(function() {
      $('.dropdown-trigger').dropdown();
    });
  </script>
}
