@(cfg: com.kyleu.projectile.models.config.UiConfig, unenc: String = "", enc: String = "")(
    implicit flash: Flash
)@com.kyleu.projectile.views.html.layout.page(title = cfg.projectName + " Encryption", cfg = cfg, icon = Some(com.kyleu.projectile.models.web.InternalIcons.encryption)) {
  <ul class="collection with-header">
    <li class="collection-header">
      <h5>Encryption</h5>
    </li>
    <li class="collection-item">
      <form method="post" action="@com.kyleu.projectile.controllers.admin.encrypt.routes.EncryptionController.post">
        <div class="input-field">
          <textarea id="unenc" name="unenc" class="materialize-textarea">@unenc</textarea>
          <label for="unenc">Unencrypted Text</label>
        </div>
        <input type="hidden" name="action" value="encrypt" />
        <button type="submit" class="btn @cfg.user.buttonColor">Encrypt</button>
      </form>
    </li>
    <li class="collection-item">
      <form method="post" action="@com.kyleu.projectile.controllers.admin.encrypt.routes.EncryptionController.post">
        <div class="input-field">
          <textarea id="enc" name="enc" class="materialize-textarea">@enc</textarea>
          <label for="enc">Encrypted Text</label>
        </div>
        <input type="hidden" name="action" value="decrypt" />
        <button type="submit" class="btn @cfg.user.buttonColor">Decrypt</button>
      </form>
    </li>
  </ul>
  <script>$(function() { $('textarea').trigger('autoresize'); });</script>
}
