@(q: String, results: Seq[Html], cfg: com.kyleu.projectile.models.config.UiConfig)(
    implicit flash: Flash
)@com.kyleu.projectile.views.html.layout.page(title = "Search Results", cfg = cfg, icon = Some(com.kyleu.projectile.models.web.InternalIcons.search)) {
  <ul class="collection with-header">
    @if(results.isEmpty) {
      <li class="collection-item">
        <h6>No search results for [@q]</h6>
      </li>
    }
    @results.map { result =>
      <li class="collection-item">
        <div>@result</div>
      </li>
    }
  </ul>
}
