@(projectile: com.kyleu.projectile.services.ProjectileService, key: String, inputEnums: Seq[(String, Boolean)])(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@com.kyleu.projectile.web.views.html.layout.simple(projectile, "New Enum") {
  <div class="collection with-header">
    <div class="collection-header">
      <h5><i class=" @com.kyleu.projectile.models.template.Icons.enum"></i> New [@key] Enum</h5>
    </div>
    <div class="collection-item">
      <div class="right">
        <a href="@com.kyleu.projectile.web.controllers.project.routes.ProjectEnumController.add(key, "all")" class="theme-text">Add All</a>
      </div>
      <h6>Enums</h6>
      @if(inputEnums.isEmpty) {
        <em>No available enums</em>
      }
      <ul>
        @inputEnums.map { enum =>
          <li>
            @if(enum._2) {
              @enum._1 <em>(already added)</em>
            } else {
              <a href="@com.kyleu.projectile.web.controllers.project.routes.ProjectEnumController.add(key, enum._1)" class="theme-text">@enum._1</a>
            }
          </li>
        }
      </ul>
    </div>
  </div>
}
