@(projectile: com.kyleu.projectile.services.ProjectileService, key: String, inputModels: Seq[(String, Boolean)])(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@com.kyleu.projectile.web.views.html.layout.simple(projectile, "New Model") {
  <div class="collection with-header">
    <div class="collection-header">
      <h5><i class=" @com.kyleu.projectile.models.template.Icons.model"></i> New [@key] Model</h5>
    </div>
    <div class="collection-item">
      <div class="right">
        <a href="@com.kyleu.projectile.web.controllers.project.routes.ProjectModelController.add(key, "all")" class="theme-text">Add All</a>
      </div>
      <h6>Models</h6>
      @if(inputModels.isEmpty) {
        <em>No available models</em>
      }
      <ul>
      @inputModels.map { model =>
        <li>
          @if(model._2) {
            @model._1 <em>(already added)</em>
          } else {
            <a href="@com.kyleu.projectile.web.controllers.project.routes.ProjectModelController.add(key, model._1)" class="theme-text">@model._1</a>
          }
        </li>
      }
      </ul>
    </div>
  </div>
}
