@(inputType: com.kyleu.projectile.models.input.InputTemplate, project: com.kyleu.projectile.models.project.Project)
<div class="collection with-header">
  <div class="collection-header">
    <div class="right">
      <a href="@com.kyleu.projectile.web.controllers.project.routes.ProjectModelController.formFeatures(project.key)">Default Features</a> /
      <a href="@com.kyleu.projectile.web.controllers.project.routes.BulkProjectController.modelBulkEditForm(project.key)">Bulk Edit</a> /
      <a href="@com.kyleu.projectile.web.controllers.project.routes.ProjectModelController.formNew(project.key)">Add</a>
    </div>
    <h6><i class=" @com.kyleu.projectile.models.template.Icons.model"></i> @project.models.size Models</h6>
  </div>
  @if(project.models.isEmpty) {
    <div class="collection-item">No project models.</div>
  }
  @project.models.sortBy(_.key).map { m =>
    <div class="collection-item">
      <div class="right">@m.pkg.mkString(".")</div>
      <a href="@com.kyleu.projectile.web.controllers.project.routes.ProjectModelController.detail(project.key, m.key)">
        <i class=" @com.kyleu.projectile.models.template.Icons.model"></i> @m.key
      </a>
    </div>
  }
</div>
