@(projectile: services.ProjectileService, key: String)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.simple(projectile, "New Project") {
  <form method="post" action="@controllers.routes.ProjectModelController.save(key)">
  <div class="collection with-header">
    <div class="collection-header">
      <h5><i class="@models.template.Icons.enum"></i> New [@key] Enum</h5>
    </div>
    <div class="collection-item">
      <div class="input-field">
        <input id="source" name="source" type="text" required class="validate" />
        <label for="source">Source</label>
      </div>
    </div>
    <div class="collection-item">
      <input class="btn theme" type="submit" value="Create Enum" />
      <a class="btn-flat theme-text" href="@controllers.routes.ProjectController.detail(key)">Cancel</a>
    </div>
  </div>
  </form>
  <style>
    .input-field {
      margin-top: 16px;
    }
  </style>
}
