@(projectile: services.ProjectileService, output: models.project.ProjectOutput, json: String)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.simple(projectile, output.project.title + " Export Result") {
  <div class="collection with-header">
    <div class="collection-header">
      <div class="right">
        <a class="theme-text" href="@controllers.project.routes.ProjectController.export(output.project.key)">Run Again</a>
        (<a class="theme-text" href="@controllers.project.routes.ProjectController.export(output.project.key, verbose = true)">verbose</a>)
      </div>
      <h5><i class="@output.project.template.icon"></i> @output.project.title Export Result</h5>
      <em>@output.fileCount files generated in @{output.duration}ms</em>
    </div>
    <div class="collection-item">
      <pre>@json</pre>
    </div>
  </div>
}
