@(service: services.ProjectileService, project: models.project.Project)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.simple(service, project.title + " Project Detail") {
  <div class="collection with-header">
    <div class="collection-header">
      <div class="right"><a class="theme-text" href="@controllers.routes.ProjectController.form(project.key)">Edit</a></div>
      <h5><i class="@project.template.icon"></i> @project.title</h5>
      @project.description
    </div>
    <div class="collection-item">
      <a class="btn theme" href="@controllers.routes.ProjectController.export(project.key)">Export</a>
      <a class="btn theme" href="@controllers.routes.ProjectController.audit(project.key)">Audit</a>
    </div>
  </div>
}
