@(projectile: services.ProjectileService, project: models.project.Project)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.simple(projectile, project.title + " Project Detail") {
  <div class="collection with-header">
    <div class="collection-header">
      <div class="right"><a class="theme-text" href="@controllers.project.routes.ProjectController.form(project.key)">Edit</a></div>
      <h5><i class="@project.template.icon"></i> @project.title</h5>
      @project.description
    </div>
    <div class="collection-item">
      <h6>Features</h6>
      <div>
      @project.template.features.toSeq.sortBy(_.title).map { feature =>
        @if(project.features.contains(feature)) {
          @feature!
        } else {
          @feature?
        }
      }
      </div>
    </div>
    <div class="collection-item">
      <a class="btn theme" href="@controllers.project.routes.ProjectController.export(project.key)">Export</a>
      <a class="btn theme" href="@controllers.project.routes.ProjectController.audit(project.key)">Audit</a>
    </div>
  </div>

  <div class="collection with-header">
    <div class="collection-header">
      <div class="right">
        <a class="theme-text" href="@controllers.project.routes.ProjectEnumController.formNew(project.key)"><i class="@models.template.Icons.enum"></i> Add Enum</a>
      </div>
      <h6><i class="@models.template.Icons.enum"></i> @project.enums.size Enums</h6>
    </div>
    @if(project.enums.isEmpty) {
      <div class="collection-item">No project enumerations.</div>
    }
    @project.enums.map { e =>
      <div class="collection-item">
        <a class="theme-text" href="@controllers.project.routes.ProjectEnumController.detail(project.key, e.outputKey)">
          <i class="@models.template.Icons.enum"></i> @e.outputKey
        </a>
      </div>
    }
  </div>

  <div class="collection with-header">
    <div class="collection-header">
      <div class="right">
        <a class="theme-text" href="@controllers.project.routes.ProjectModelController.formNew(project.key)"><i class="@models.template.Icons.model"></i> Add Model</a>
      </div>
      <h6><i class="@models.template.Icons.model"></i> @project.models.size Models</h6>
    </div>
    @if(project.models.isEmpty) {
      <div class="collection-item">No project models.</div>
    }
    @project.models.map { m =>
      <div class="collection-item">
        <a class="theme-text" href="@controllers.project.routes.ProjectModelController.detail(project.key, m.outputKey)">
          <i class="@models.template.Icons.model"></i> @m.outputKey
        </a>
      </div>
    }
  </div>
}
