@(projectile: com.projectile.services.ProjectileService, project: com.projectile.models.project.Project)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.simple(projectile, project.title + " Project Detail") {
  <div class="collection with-header">
    <div class="collection-header">
      <div class="right"><a class="theme-text" href="@controllers.project.routes.ProjectFormController.formSummary(project.key)">Edit Summary</a></div>
      <h5><i class="@project.template.icon"></i> @project.title</h5>
      @project.description
    </div>
    <div class="collection-item">
      <div class="right"><a class="theme-text" href="@controllers.project.routes.ProjectFormController.formFeatures(project.key)">Edit Features</a></div>
      <h6>Features</h6>
      <div>
      @project.template.features.toSeq.sortBy(_.title).map { feature =>
        @if(project.features.contains(feature)) {
          @feature!
        } else {
          @feature?
        }
      }
      </div>
    </div>

    <div class="collection-item">
      <div class="right"><a class="theme-text" href="@controllers.project.routes.ProjectFormController.formPaths(project.key)">Edit Paths</a></div>
      <h6>Path Overrides</h6>
      <div>
      @if(project.paths.isEmpty) {
        <div>No path overrides</div>
      }
       @com.projectile.models.output.OutputPath.values.map { p =>
        @project.paths.get(p).map { path =>
          <div>@p.value: @path</div>
        }
      }
      </div>
    </div>

    <div class="collection-item">
      <div class="right"><a class="theme-text" href="@controllers.project.routes.ProjectFormController.formPackages(project.key)">Edit Packages</a></div>
      <h6>Package Overrides</h6>
      <div>
        @if(project.packages.isEmpty) {
          <div>No package overrides</div>
        }
        @com.projectile.models.output.OutputPackage.values.map { p =>
          @project.packages.get(p).map { pkg =>
            <div>@p.value: @pkg.mkString(".")</div>
          }
        }
      </div>
    </div>

    <div class="collection-item">
      <div class="right"><a class="theme-text" href="@controllers.project.routes.ProjectFormController.formClassOverrides(project.key)">Edit Class Overrides</a></div>
      <h6>Class Overrides</h6>
      <div>
        @if(project.classOverrides.isEmpty) {
          <div>No class overrides</div>
        }
        @project.classOverrideStrings.map { o =>
          <div>@o</div>
        }
      </div>
    </div>

    <div class="collection-item">
      <a class="btn theme" href="@controllers.project.routes.ProjectController.export(project.key)">Export</a>
      <a class="btn theme" href="@controllers.project.routes.ProjectController.update(project.key)">Update</a>
      <a class="btn theme" href="@controllers.project.routes.ProjectController.audit(project.key)">Audit</a>
    </div>
  </div>

  <div class="collection with-header">
    <div class="collection-header">
      <div class="right">
        <a class="theme-text" href="@controllers.project.routes.ProjectController.enumBulkEditForm(project.key)">Bulk Edit</a> /
        <a class="theme-text" href="@controllers.project.routes.ProjectEnumController.formNew(project.key)">Add</a>
      </div>
      <h6><i class=" @com.projectile.models.template.Icons.enum"></i> @project.enums.size Enums</h6>
    </div>
    @if(project.enums.isEmpty) {
      <div class="collection-item">No project enumerations.</div>
    }
    @project.enums.sortBy(_.key).map { e =>
      <div class="collection-item">
        <div class="right">@e.input</div>
        <a class="theme-text" href="@controllers.project.routes.ProjectEnumController.detail(project.key, e.key)">
          <i class=" @com.projectile.models.template.Icons.enum"></i> @e.key
        </a>
      </div>
    }
  </div>

  <div class="collection with-header">
    <div class="collection-header">
      <div class="right">
        <a class="theme-text" href="@controllers.project.routes.ProjectController.modelBulkEditForm(project.key)">Bulk Edit</a> /
        <a class="theme-text" href="@controllers.project.routes.ProjectModelController.formNew(project.key)">Add</a>
      </div>
      <h6><i class=" @com.projectile.models.template.Icons.model"></i> @project.models.size Models</h6>
    </div>
    @if(project.models.isEmpty) {
      <div class="collection-item">No project models.</div>
    }
    @project.models.sortBy(_.key).map { m =>
      <div class="collection-item">
        <div class="right">@m.input</div>
        <a class="theme-text" href="@controllers.project.routes.ProjectModelController.detail(project.key, m.key)">
          <i class=" @com.projectile.models.template.Icons.model"></i> @m.key
        </a>
      </div>
    }
  </div>

  <div class="collection with-header">
    <div class="collection-header">
      <div class="right">
        <a class="theme-text" href="@controllers.project.routes.ProjectController.serviceBulkEditForm(project.key)">Bulk Edit</a> /
        <a class="theme-text" href="@controllers.project.routes.ProjectServiceController.formNew(project.key)">Add</a>
      </div>
      <h6><i class=" @com.projectile.models.template.Icons.model"></i> @project.services.size Services</h6>
    </div>
    @if(project.services.isEmpty) {
      <div class="collection-item">No project services.</div>
    }
    @project.services.sortBy(_.key).map { svc =>
      <div class="collection-item">
        <div class="right">@svc.input</div>
        <a class="theme-text" href="@controllers.project.routes.ProjectServiceController.detail(project.key, svc.key)">
          <i class=" @com.projectile.models.template.Icons.service"></i> @svc.key
        </a>
      </div>
    }
  </div>
}
