@(projectile: com.kyleu.projectile.services.ProjectileService, path: String, content: String)(implicit flash: Flash)
@com.kyleu.projectile.web.views.html.layout.simple(projectile, path) {
  <div class="collection with-header">
    <div class="collection-header">
      <div class="right">
        <a href="@com.kyleu.projectile.web.controllers.routes.FileController.deleteFile(path)" onclick="return confirm('Are you sure you want to delete this file?');">Delete File</a>
      </div>
      <h5><i class=" @com.kyleu.projectile.models.template.Icons.file"></i> @path</h5>
    </div>
    <div class="collection-item">
      <form method="post" action="@com.kyleu.projectile.web.controllers.routes.FileController.editFile(path)">
        <textarea name="content" class="materialize-textarea">@content</textarea>
        <input type="submit" class="btn theme" value="Save Changes" />
      </form>
    </div>
  </div>
  <script>
    M.textareaAutoResize($('.materialize-textarea'));
  </script>
}
