@(projectile:  com.projectile.services.ProjectileService, result:  com.projectile.models.project.audit.AuditResult)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.simple(projectile, result.config.project.title + " Audit Result") {
  <div class="collection with-header">
    <div class="collection-header">
      <div class="right">
        <a class="theme-text" href="@controllers.project.routes.ProjectController.audit(result.config.project.key)">Run Again</a>
        (<a class="theme-text" href="@controllers.project.routes.ProjectController.audit(result.config.project.key, verbose = true)">verbose</a>)
      </div>
      <h5><i class="@result.config.project.template.icon"></i> @result.config.project.title Audit Result</h5>
    </div>
  </div>

  <div class="collection with-header">
    <div class="collection-header">
      <div class="right">
        <a class="theme-text" href="TODO">Fix All</a>
      </div>
      <h6>Configuration Result</h6>

      @if(result.configMessages.isEmpty) {
        <div class="collection-item">No warnings. You're all good!</div>
      }

      @result.configMessages.sortBy(_.srcModel).map { log =>
        @views.html.project.audit.auditMessage(log)
      }
    </div>
  </div>

  <div class="collection with-header">
    <div class="collection-header">
      <div class="right">
        <a class="theme-text" href="TODO">Fix All</a>
      </div>
      <h6>Output Result</h6>

      @if(result.outputMessages.isEmpty) {
        <div class="collection-item">No warnings. You're all good!</div>
      }

      @result.outputMessages.sortBy(_.srcModel).map { log =>
        @views.html.project.audit.auditMessage(log)
      }
    </div>
  </div>

}
