@(title: String, cfg: com.kyleu.projectile.components.models.config.UiConfig)
@if(cfg.user.theme == com.kyleu.projectile.components.models.config.UiTheme.default) {
  <div class="breadcrumbs-inline pt-3 pb-1" id="breadcrumbs-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 breadcrumbs-left">
          <h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down">@title</h5>
          <ol class="breadcrumbs mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">@title</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
}
@if(cfg.user.theme == com.kyleu.projectile.components.models.config.UiTheme.dark) {
  <div class="breadcrumbs-bg-image" data-image="@com.kyleu.projectile.components.controllers.routes.Assets.versioned("images/breadcrumb-bg.jpg")" id="breadcrumbs-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 m6 l6">
          <h5 class="breadcrumbs-title mt-0 mb-0">@title</h5>
        </div>
        <div class="col s12 m6 l6 right-align-md">
          <ol class="breadcrumbs mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">@title</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
}
@if(cfg.user.theme == com.kyleu.projectile.components.models.config.UiTheme.gradient) {
  <div class="pt-3 pb-1" id="breadcrumbs-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 m6 l6">
          <h5 class="breadcrumbs-title mt-0 mb-0">@title</h5>
        </div>
        <div class="col s12 m6 l6 right-align-md">
          <ol class="breadcrumbs mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">@title</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
}
@if(cfg.user.theme == com.kyleu.projectile.components.models.config.UiTheme.modern) {
  <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 breadcrumbs-left">
          <h5 class="breadcrumbs-title mt-0 mb-0">@title</h5>
          <ol class="breadcrumbs mb-0">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active">@title</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
}
