@(title: String, cfg: com.kyleu.projectile.models.config.UiConfig)
@bc() = {
  <ol class="breadcrumbs mb-0">
    @cfg.breadcrumbs.map { b =>
      @if(cfg.breadcrumbs.lastOption.contains(b)) {
        <li class="breadcrumb-item active">@b.title</li>
      } else {
        @if(b.url.isDefined) {
          <li class="breadcrumb-item"><a href="@b.url">@b.title</a></li>
        } else {
          <li class="breadcrumb-item">@b.title</li>
        }
      }
    }
  </ol>
}

@if(cfg.user.theme == com.kyleu.projectile.components.models.config.Theme.Default.value) {
  <div class="breadcrumbs-inline pt-3 pb-1" id="breadcrumbs-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 breadcrumbs-left">
          <h5 class="breadcrumbs-title mt-0 mb-0 display-inline hide-on-small-and-down">@title</h5>
          @bc()
        </div>
      </div>
    </div>
  </div>
}
@if(cfg.user.theme == com.kyleu.projectile.components.models.config.Theme.Dark.value) {
  <div class="breadcrumbs-bg-image" data-image="@com.kyleu.projectile.components.controllers.routes.Assets.versioned("images/breadcrumb-bg.jpg")" id="breadcrumbs-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 m6 l6">
          <h5 class="breadcrumbs-title mt-0 mb-0">@title</h5>
        </div>
        <div class="col s12 m6 l6 right-align-md">
          @bc()
        </div>
      </div>
    </div>
  </div>
}
@if(cfg.user.theme == com.kyleu.projectile.components.models.config.Theme.Gradient.value) {
  <div class="pt-3 pb-1" id="breadcrumbs-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 m6 l6">
          <h5 class="breadcrumbs-title mt-0 mb-0">@title</h5>
        </div>
        <div class="col s12 m6 l6 right-align-md">
          @bc()
        </div>
      </div>
    </div>
  </div>
}
@if(cfg.user.theme == com.kyleu.projectile.components.models.config.Theme.Modern.value) {
  <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s12 breadcrumbs-left">
          <h5 class="breadcrumbs-title mt-0 mb-0">@title</h5>
          @bc()
        </div>
      </div>
    </div>
  </div>
}
