@(cfg: com.kyleu.projectile.models.config.UiConfig, theme: com.kyleu.projectile.components.models.config.Theme)
<aside class="sidenav-main nav-expanded nav-lock nav-collapsible @theme.asideClass">
  <div class="brand-sidebar">
    <h1 class="logo-wrapper">
      <a class="brand-logo darken-1" href="@cfg.urls.home">
        <img src="@theme.logo" alt="logo"/>
        <span class="logo-text hide-on-med-and-down">@cfg.projectName</span>
      </a>
      <a class="navbar-toggler" href="" onclick="return false;"><i class="material-icons">radio_button_checked</i></a></h1>
  </div>

  <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out" data-menu="menu-navigation" data-collapsible="menu-accordion">
    @cfg.menu.map(x => com.kyleu.projectile.components.views.html.layout.pageNavItem(x, cfg.breadcrumbs))
  </ul>
  <div class="navigation-background"></div><a class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only" href="" onclick="return false;" data-target="slide-out"><i class="material-icons">menu</i></a>
</aside>
