@(
    cfg: com.kyleu.projectile.models.config.UiConfig,
    model: com.kyleu.projectile.models.user.SystemUser,
    notes: Seq[com.kyleu.projectile.models.note.Note],
    modelNotes: Seq[com.kyleu.projectile.models.note.Note],
    auditRecords: Seq[com.kyleu.projectile.models.audit.AuditRecord],
    modelAudits: Seq[com.kyleu.projectile.models.audit.Audit],
    debug: Boolean
)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, td: com.kyleu.projectile.util.tracing.TraceData
)@com.kyleu.projectile.views.html.layout.page(title = s"System User", cfg = cfg, icon = Some(com.kyleu.projectile.models.web.InternalIcons.systemUser)) {
  @com.kyleu.projectile.services.augment.AugmentService.viewHeaders.augment(model, request.queryString, cfg)
  @com.kyleu.projectile.views.html.layout.card(None) {
    <div class="right"><a class="btn @cfg.user.buttonColor" href="@com.kyleu.projectile.controllers.admin.user.routes.SystemUserController.editForm(model.id)">Edit</a></div>
    <div class="right"><a class="btn-flat remove-link" onclick="return confirm('Are you sure you want to remove this System User?')" href="@com.kyleu.projectile.controllers.admin.user.routes.SystemUserController.remove(model.id)">Remove</a></div>
    <h6><div title="Click to copy" onclick="ClipboardUtils.writeClipboard('@model.username.replaceAllLiterally("'", "")')" style="cursor: pointer;">@model.username</div></h6>
    <em title="Click to copy" onclick="ClipboardUtils.writeClipboard('@model.id.toString.replaceAllLiterally("'", "")')" style="cursor: pointer;">@model.id</em>
  }

  @com.kyleu.projectile.views.html.layout.card(None) {
    <table class="highlight responsive-table">
      <tbody>
        <tr>
          <th>Authentication</th>
          <td>@model.provider:@model.key</td>
        </tr>
        <tr>
          <th>Role</th>
          <td>@model.role</td>
        </tr>
        <tr>
          <th>Created</th>
          <td>@model.created</td>
        </tr>
        <tr>
          <th>Settings</th>
          <td><pre>@model.settings</pre></td>
        </tr>
      </tbody>
    </table>
  }

  @com.kyleu.projectile.views.html.admin.user.systemUserNotes(cfg, model, modelNotes)
  @com.kyleu.projectile.views.html.admin.user.systemUserAudits(cfg, model, modelAudits)
  @com.kyleu.projectile.services.augment.AugmentService.viewDetails.augment(model, request.queryString, cfg)
  @com.kyleu.projectile.views.html.admin.note.notes(cfg, notes, "SystemUser", "System User", model.id)
  @com.kyleu.projectile.views.html.admin.audit.auditRecords(auditRecords, "SystemUser", "System User", model.id)

  @if(com.kyleu.projectile.models.module.ApplicationFeature.enabled(com.kyleu.projectile.models.module.ApplicationFeature.Error)) {
    <ul id="model-relations" class="collapsible" data-collapsible="expandable">
      <li id="relation-systemError-userId" data-table="systemError" data-field="userId" data-singular="System Error" data-plural="System Errors" data-url="@com.kyleu.projectile.controllers.admin.error.routes.SystemErrorController.byUserId(model.id, limit = Some(5), embedded = true)">
        <div class="collapsible-header">
          <i class="material-icons small">@com.kyleu.projectile.models.web.InternalIcons.error</i>
          <span class="title">System Errors</span>&nbsp;by User Id
          <span class="badge" style="display: none;">
            <a class="bulk-edit-link" title="Bulk edit" href="@com.kyleu.projectile.controllers.admin.error.routes.SystemErrorController.byUserIdBulkForm(model.id)"><i class="material-icons" style="margin-right: 0;">edit</i></a>
            <a class="view-relation-link" title="View these System Errors" href="@com.kyleu.projectile.controllers.admin.error.routes.SystemErrorController.byUserId(model.id)"><i class="material-icons" style="margin-right: 0;">insert_link</i></a>
          </span>
        </div>
        <div class="collapsible-body"><span>Loading...</span></div>
      </li>
    </ul>
    <script>$(function() { new RelationService('@com.kyleu.projectile.controllers.admin.user.routes.SystemUserController.relationCounts(model.id)') });</script>
  }
  @com.kyleu.projectile.views.html.components.includeScalaJs(debug)
}
