@(cfg: com.kyleu.projectile.models.config.UiConfig, model: com.kyleu.projectile.models.user.SystemUser, notes: Seq[com.kyleu.projectile.models.note.Note])(
    implicit request: Request[AnyContent], session: Session, flash: Flash, td: com.kyleu.projectile.util.tracing.TraceData
)
@com.kyleu.projectile.views.html.layout.card(Some("Notes by this user")) {
  @if(notes.isEmpty) {
    <em>No notes created by this System User</em>
  } else {
    <table>
      <tbody>
      @notes.map { note =>
        @com.kyleu.projectile.views.html.admin.note.noteDataRow(note, None)
      }
      </tbody>
    </table>
  }
}
