@(model: com.kyleu.projectile.models.user.SystemUser, hit: String)<div class="search-result">
  <div class="right">
    <i class="material-icons small">@com.kyleu.projectile.models.web.InternalIcons.systemUser</i> System User
  </div>
  <div>
    <a href="@com.kyleu.projectile.controllers.admin.user.routes.SystemUserController.view(model.id)">@model.id</a>
  </div>
  <em>@hit</em>
  <div style="margin-top: 12px;">
    <div class="chip">Username: @model.username</div>
    <div class="chip">Provider: @model.provider</div>
    <div class="chip">Key: @model.key</div>
  </div>
</div>
