@(projectile: services.ProjectileService, project: models.project.Project)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.simple(projectile, project.title + " Package Edit") {
  <form method="post" action="@controllers.project.routes.ProjectFormController.savePackages()">
    <input id="key" name="key" type="hidden" value="@project.key" />
    <input id="template" name="template" type="hidden" value="@project.template.value" />

    <div class="collection with-header">
      <div class="collection-header">
        <h5><i class="@project.template.icon"></i> Edit [@project.key] Packages</h5>
        <div>@project.template.title Project</div>
      </div>
      @models.output.OutputPackage.values.map { p =>
        <div class="collection-item">
          <div>
            <label for="package.@p.value">@p.value</label>
            <input name="package.@p.value" id="package.@p.value" value="@project.packages.getOrElse(p, p.defaultVal).mkString(".")" />
          </div>
        </div>
      }
      <div class="collection-item">
        <input class="btn theme" type="submit" value="Save" />
        <a class="btn-flat theme-text" href="@controllers.project.routes.ProjectController.detail(project.key)">Cancel</a>
      </div>
    </div>
  </form>
  <style>
    .input-field {
      margin-top: 16px;
    }
  </style>
}
