@(projectile:  com.projectile.services.ProjectileService, project:  com.projectile.models.project.Project)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.simple(projectile, project.title + " Feature Edit") {
  <form method="post" action="@controllers.project.routes.ProjectFormController.saveFeatures()">
    <input id="key" name="key" type="hidden" value="@project.key" />
    <input id="template" name="template" type="hidden" value="@project.template.value" />

    <div class="collection with-header">
      <div class="collection-header">
        <h5><i class="@project.template.icon"></i> Edit [@project.key] Features</h5>
        <div>@project.template.title Project</div>
      </div>
       @com.projectile.models.output.feature.ProjectFeature.values.filter(project.template.features.apply).map { feat =>
        <div class="collection-item">
          <p>
            <label>
              <input name="features" type="checkbox" value="@feat.value" @if(project.features(feat)) { checked="checked" } />
              <span>@feat.title</span>
            </label>
          </p>
          <p>
            <em>@feat.description</em>
          </p>
        </div>
      }
      <div class="collection-item">
        <input class="btn theme" type="submit" value="Save" />
        <a class="btn-flat theme-text" href="@controllers.project.routes.ProjectController.detail(project.key)">Cancel</a>
      </div>
    </div>
  </form>
  <style>
    .input-field {
      margin-top: 16px;
    }
  </style>
}
