@(projectile: com.kyleu.projectile.services.ProjectileService, project: com.kyleu.projectile.models.project.Project)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.simple(projectile, project.key + " Class Override Edit") {
  <form method="post" action="@controllers.project.routes.ProjectFormController.saveClassOverrides()">
    <input id="key" name="key" type="hidden" value="@project.key" />
    <input id="template" name="template" type="hidden" value="@project.template.value" />

    <div class="collection with-header">
      <div class="collection-header">
        <h5><i class="@project.template.icon"></i> Edit [@project.key] Class Overrides</h5>
        <div>@project.template.title Project</div>
      </div>
      <div class="collection-item">
        <div>
          <textarea name="overrides" id="overrides" class="materialize-textarea">@project.classOverrideStrings.mkString("\n")</textarea>
        </div>
      </div>
      <div class="collection-item">
        <input class="btn theme" type="submit" value="Save" />
        <a class="btn-flat theme-text" href="@controllers.project.routes.ProjectController.detail(project.key)">Cancel</a>
      </div>
    </div>
  </form>
  <style>
    .input-field {
      margin-top: 16px;
    }
  </style>
  <script>
      M.textareaAutoResize($('#overrides'));
  </script>
}
