@(projectile:  com.projectile.services.ProjectileService, summary:  com.projectile.models.project.ProjectSummary)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.simple(projectile, summary.title) {
  <form method="post" action="@controllers.project.routes.ProjectFormController.saveSummary()">
  <div class="collection with-header">
    <div class="collection-header">
      <h5><i class=" @com.projectile.models.template.Icons.project"></i> @summary.title</h5>
    </div>
    @if(summary.key == "new") {
      <div class="collection-item">
        <div class="input-field">
          <input id="key" name="key" type="text" required class="validate" />
          <label for="key">Key</label>
        </div>
      </div>
    } else {
      <input type="hidden" name="key" value="@summary.key" />
    }
    <div class="collection-item">
      <div class="input-field">
        <input id="title" name="title" type="text" required class="validate" value="@summary.title" />
        <label for="title">Title</label>
      </div>
    </div>
    <div class="collection-item">
      <div class="input-field">
        <input id="description" name="description" type="text" value="@summary.description" />
        <label for="description">Description</label>
      </div>
    </div>
    <div class="collection-item">
      <div class="input-field">
        <select id="template" name="template">
           @com.projectile.models.project.ProjectTemplate.values.map { t =>
            @if(summary.template == t) {
              <option value="@t.value" selected="selected">@t.title</option>
            } else {
              <option value="@t.value">@t.title</option>
            }
          }
        </select>
        <label for="template">Template</label>
      </div>
    </div>
    <div class="collection-item">
      <input class="btn theme" type="submit" value="Create Project" />
      <a class="btn-flat theme-text" href="@controllers.routes.HomeController.index()">Cancel</a>
    </div>
  </div>
  </form>
  <style>
    .input-field {
      margin-top: 16px;
    }
  </style>
  <script>
    $(function(){
      $('select').formSelect();
    });
  </script>
}
