@(name: String, avatarUrl: String, notifications: Seq[com.kyleu.projectile.models.notification.Notification])
<ul class="navbar-list right">
  <li class="hide-on-med-and-down"><a class="waves-effect waves-block waves-light toggle-fullscreen" href="" onclick="return false;"><i class="material-icons">@com.kyleu.projectile.models.web.InternalIcons.fullscreen</i></a></li>
  @if(com.kyleu.projectile.models.module.ApplicationFeatures.enabled("search")) {
    <li class="hide-on-large-only"><a class="waves-effect waves-block waves-light search-button" href="" onclick="return false;"><i class="material-icons">@com.kyleu.projectile.models.web.InternalIcons.search</i></a></li>
  }
  @if(notifications.nonEmpty) {
    <li><a class="waves-effect waves-block waves-light notification-button" href="" onclick="return false;" data-target="notifications-dropdown">
      <small class="notification-badge" style="right: -22px;">@notifications.size</small>
      <i class="material-icons">@com.kyleu.projectile.models.web.InternalIcons.notifications</i></a></li>
  }
  <li><a class="waves-effect waves-block waves-light profile-button" href="javascript:void(0);" data-target="profile-dropdown">
    <span class="avatar-status avatar-online" title="@name">
      <img src="@avatarUrl" alt="" />
      <i></i>
    </span>
  </a></li>
</ul>

@if(notifications.nonEmpty) {
  <ul class="dropdown-content" id="notifications-dropdown">
    <li>
      <h6>NOTIFICATIONS<span class="new badge">@notifications.size</span></h6>
    </li>
    <li class="divider"></li>
    @notifications.map { n =>
      <li>
        <a class="grey-text text-darken-2" href="@n.url">
          <span class="material-icons icon-bg-circle cyan small">@n.icon</span>
          @n.title
        </a>
        <time class="media-meta" datetime="@n.occurred">@n.occurred</time>
      </li>
    }
  </ul>
}

<ul class="dropdown-content" id="profile-dropdown">
  <li><a class="grey-text text-darken-1" href="/profile"><i class="material-icons">@com.kyleu.projectile.models.web.InternalIcons.profile</i> Profile</a></li>
  <li><a class="grey-text text-darken-1" href="/profile/signout"><i class="material-icons">@com.kyleu.projectile.models.web.InternalIcons.signout</i> Sign out</a></li>
</ul>
