@(name: String, avatarUrl: String, breadcrumbs: Seq[String], notifications: Seq[com.kyleu.projectile.models.notification.Notification])
<ul class="navbar-list right">
  <li class="hide-on-med-and-down">
    <a class="waves-effect waves-block waves-light toggle-fullscreen" href="" onclick="return false;">
      <i class="material-icons">@com.kyleu.projectile.models.web.InternalIcons.fullscreen</i>
    </a>
  </li>
  @if(com.kyleu.projectile.models.module.ApplicationFeature.enabled(com.kyleu.projectile.models.module.ApplicationFeature.Search)) {
    <li class="hide-on-large-only">
      <a class="waves-effect waves-block waves-light search-button" href="" onclick="return false;">
        <i class="material-icons">@com.kyleu.projectile.models.web.InternalIcons.search</i>
      </a>
    </li>
  }
  @if(notifications.nonEmpty) {
    <li>
      <a class="waves-effect waves-block waves-light notification-button" href="" onclick="return false;" data-target="notifications-dropdown" title="You have [@notifications.size] notifications">
        <small class="notification-badge" style="right: -22px;">@notifications.size</small>
        <i class="material-icons">@com.kyleu.projectile.models.web.InternalIcons.notifications</i>
      </a>
    </li>
  }
  @if(com.kyleu.projectile.models.module.ApplicationFeature.enabled(com.kyleu.projectile.models.module.ApplicationFeature.Help)) {
    <!-- Help Context: [@breadcrumbs.mkString("/")] -->
    @com.kyleu.projectile.services.help.HelpEntryService.hasHelp(breadcrumbs: _*).map { help =>
      <!-- Matched help file for @help.mkString("/") -->
      <li>
        @defining(if(breadcrumbs.isEmpty) { com.kyleu.projectile.controllers.help.routes.HelpEntryController.root() } else { com.kyleu.projectile.controllers.help.routes.HelpEntryController.entry(breadcrumbs.mkString("/")) }) { url =>
          <a class="waves-effect waves-block waves-light help-button" style="line-height: 1;" href="@url" title="Help for this page">
            <i class="material-icons">@com.kyleu.projectile.models.web.InternalIcons.help</i>
          </a>
        }
      </li>
    }
  }
  <li>
    <a class="waves-effect waves-block waves-light profile-button" href="javascript:void(0);" data-target="profile-dropdown" title="User profile">
      <span class="avatar-status avatar-online" title="@name">
        <img src="@avatarUrl" alt="" />
        <i></i>
      </span>
    </a>
  </li>
</ul>

@if(notifications.nonEmpty) {
  <ul class="dropdown-content" id="notifications-dropdown">
    <li>
      <h6>NOTIFICATIONS<span class="new badge">@notifications.size</span></h6>
    </li>
    <li class="divider"></li>
    @notifications.map { n =>
      <li>
        <a class="grey-text text-darken-2" href="@n.url">
          <span class="material-icons icon-bg-circle cyan small">@n.icon</span>
          @n.title
        </a>
        <time class="media-meta" datetime="@n.occurred">@n.occurred</time>
      </li>
    }
  </ul>
}

<ul class="dropdown-content" id="profile-dropdown">
  @if(com.kyleu.projectile.models.module.ApplicationFeature.enabled(com.kyleu.projectile.models.module.ApplicationFeature.Profile)) {
    <li><a class="grey-text text-darken-1" href="@com.kyleu.projectile.controllers.auth.routes.ProfileController.view()"><i class="material-icons">@com.kyleu.projectile.models.web.InternalIcons.profile</i> Profile</a></li>
  }
  @if(com.kyleu.projectile.models.module.ApplicationFeature.enabled(com.kyleu.projectile.models.module.ApplicationFeature.Feedback)) {
    <li><a class="grey-text text-darken-1" href="@com.kyleu.projectile.controllers.admin.feedback.routes.FeedbackFormController.form()"><i class="material-icons">@com.kyleu.projectile.models.web.InternalIcons.feedback</i> Feedback</a></li>
  }
  <li><a class="grey-text text-darken-1" href="@com.kyleu.projectile.controllers.auth.routes.AuthenticationController.signOut()"><i class="material-icons">@com.kyleu.projectile.models.web.InternalIcons.signout</i> Sign out</a></li>
</ul>
