@(cfg: com.kyleu.projectile.models.config.UiConfig, model: com.kyleu.projectile.models.audit.AuditRecord, notes: Seq[com.kyleu.projectile.models.note.Note], debug: Boolean)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, td: com.kyleu.projectile.util.tracing.TraceData
)@com.kyleu.projectile.views.html.layout.page(title = s"Audit Record", cfg = cfg, icon = Some(com.kyleu.projectile.models.web.InternalIcons.auditRecord)) {
  @com.kyleu.projectile.services.augment.AugmentService.viewHeaders.augment(model, request.queryString, cfg)
  @com.kyleu.projectile.views.html.layout.card(None) {
    <div class="right"><a class="btn @cfg.user.buttonColor" href="@com.kyleu.projectile.controllers.admin.audit.routes.AuditRecordController.editForm(model.id)">Edit</a></div>
    <div class="right"><a class="btn-flat remove-link" onclick="return confirm('Are you sure you want to remove this Audit Record?')" href="@com.kyleu.projectile.controllers.admin.audit.routes.AuditRecordController.remove(model.id)">Remove</a></div>
    <table class="highlight responsive-table">
      <tbody>
        <tr>
          <th><div title="Click to copy" onclick="ClipboardUtils.writeClipboard('@model.id.toString.replaceAllLiterally("'", "")')" style="cursor: pointer;">Id</div></th>
          <td>@model.id</td>
        </tr>
        <tr>
          <th><div title="Click to copy" onclick="ClipboardUtils.writeClipboard('@model.auditId.toString.replaceAllLiterally("'", "")')" style="cursor: pointer;">Audit Id</div></th>
          <td>
            @model.auditId
            <a href="@com.kyleu.projectile.controllers.admin.audit.routes.AuditController.view(model.auditId)">
              <i class="material-icons small">@com.kyleu.projectile.models.web.InternalIcons.audit</i>
            </a>
          </td>
        </tr>
        <tr>
          <th><div title="Click to copy" onclick="ClipboardUtils.writeClipboard('@model.t.toString.replaceAllLiterally("'", "")')" style="cursor: pointer;">Model Type</div></th>
          <td>@model.t</td>
        </tr>
        <tr>
          <th><div title="Click to copy" onclick="ClipboardUtils.writeClipboard('@model.pk.mkString(", ").replaceAllLiterally("'", "")')" style="cursor: pointer;">Model PK</div></th>
          <td>@model.pk.mkString(", ")</td>
        </tr>
        <tr>
          <th>Changes</th>
          <td>
            @model.changes.map { c =>
              <div class="chip">
                <strong style="font-size: 120%;">@c.k: </strong>
                <span style="color: darkred;">@c.o.getOrElse(com.kyleu.projectile.util.NullUtils.str)</span>
                -&gt;
                <span style="color: darkgreen;">@c.n.getOrElse(com.kyleu.projectile.util.NullUtils.str)</span>
              </div>
            }
          </td>
        </tr>
      </tbody>
    </table>
  }

  @com.kyleu.projectile.services.augment.AugmentService.viewDetails.augment(model, request.queryString, cfg)
  @com.kyleu.projectile.views.html.admin.note.notes(cfg, notes, "AuditRecord", "Audit Record", model.id)
}
