@(cfg: com.kyleu.projectile.models.config.UiConfig, model: com.kyleu.projectile.models.audit.Audit, records: Seq[com.kyleu.projectile.models.audit.AuditRecord], notes: Seq[com.kyleu.projectile.models.note.Note], debug: Boolean)(
    implicit request: Request[AnyContent], session: Session, flash: Flash, td: com.kyleu.projectile.util.tracing.TraceData
)@com.kyleu.projectile.views.html.layout.page(title = s"Audit", cfg = cfg, icon = Some(com.kyleu.projectile.models.web.InternalIcons.audit)) {
  @com.kyleu.projectile.services.augment.AugmentService.viewHeaders.augment(model, request.queryString, cfg)
  @com.kyleu.projectile.views.html.layout.card(None) {
    <div class="right"><a class="btn @cfg.user.buttonColor" href="@com.kyleu.projectile.controllers.admin.audit.routes.AuditController.editForm(model.id)">Edit</a></div>
    <div class="right"><a class="btn-flat remove-link" onclick="return confirm('Are you sure you want to remove this Audit?')" href="@com.kyleu.projectile.controllers.admin.audit.routes.AuditController.remove(model.id)">Remove</a></div>
    <h6><div title="Click to copy" onclick="ClipboardUtils.writeClipboard('@model.id.toString.replaceAllLiterally("'", "")')" style="cursor: pointer;">@model.id</div></h6>
    <em>@model.app@@@model.server</em>
    <pre>@model.msg</pre>
  }
  @com.kyleu.projectile.views.html.layout.card(None) {
    <table class="highlight responsive-table">
      <tbody>
        <tr>
          <th><div title="Click to copy" onclick="ClipboardUtils.writeClipboard('@model.userId.toString.replaceAllLiterally("'", "")')" style="cursor: pointer;">User ID</div></th>
          <td>
            @model.userId
            <a href="@com.kyleu.projectile.controllers.admin.user.routes.SystemUserController.view(model.userId)">
              <i class="material-icons small">@com.kyleu.projectile.models.web.InternalIcons.systemUser</i>
            </a>
          </td>
        </tr>
        <tr>
          <th><div title="Click to copy" onclick="ClipboardUtils.writeClipboard('@model.act.replaceAllLiterally("'", "")')" style="cursor: pointer;">Act</div></th>
          <td>@model.act</td>
        </tr>
        <tr>
          <th><div title="Click to copy" onclick="ClipboardUtils.writeClipboard('@model.client.replaceAllLiterally("'", "")')" style="cursor: pointer;">Client</div></th>
          <td>@model.client</td>
        </tr>
        <tr>
          <th><div title="Click to copy" onclick="ClipboardUtils.writeClipboard('@model.started.toString.replaceAllLiterally("'", "")')" style="cursor: pointer;">Started</div></th>
          <td>@model.started</td>
        </tr>
        <tr>
          <th><div title="Click to copy" onclick="ClipboardUtils.writeClipboard('@model.completed.toString.replaceAllLiterally("'", "")')" style="cursor: pointer;">Completed</div></th>
          <td>@model.completed</td>
        </tr>
      </tbody>
    </table>
  }

  @com.kyleu.projectile.services.augment.AugmentService.viewDetails.augment(model, request.queryString, cfg)

  @records.map { record =>
    @com.kyleu.projectile.views.html.layout.card(None) {
      <h6>@defining(com.kyleu.projectile.models.audit.AuditCallbackProvider.getViewRoute(record.t, record.pk.toIndexedSeq)) { call =>
        @record.t @if(call.isDefined) { <a href="@call">@record.pk.mkString(", ")</a> } else { @record.pk.mkString(", ") }
      }</h6>
      <em>Record <a href="@com.kyleu.projectile.controllers.admin.audit.routes.AuditRecordController.view(record.id)">@record.id</a></em>
      <div style="padding: 12px;">
        @if(record.changes.isEmpty) {
          <em>No changes</em>
        } else {
          @record.changes.map { c =>
            <div class="chip">
              <strong style="font-size: 120%;">@c.k: </strong>
              <span style="color: darkred;">@c.o.getOrElse(com.kyleu.projectile.util.NullUtils.str)</span>
              -&gt;
              <span style="color: darkgreen;">@c.n.getOrElse(com.kyleu.projectile.util.NullUtils.str)</span>
            </div>
          }
        }
      </div>
    }
  }

  @com.kyleu.projectile.views.html.admin.note.notes(cfg, notes, "Audit", "Audit", model.id)
  @com.kyleu.projectile.views.html.components.includeScalaJs(debug)
}
