@(model: com.kyleu.projectile.models.audit.Audit)<tr>
  <td>
    <a href="@com.kyleu.projectile.controllers.admin.audit.routes.AuditController.view(model.id)">@model.id</a>
  </td>
  <td>
    @model.act
  </td>
  <td>
    @model.app
  </td>
  <td>
    @model.client
  </td>
  <td>
    @model.server
  </td>
  <td>
    @model.userId
    @model.userId.map { uid =>
      <a href="@com.kyleu.projectile.controllers.admin.user.routes.SystemUserController.view(uid)">
        <i class="material-icons small">@com.kyleu.projectile.models.web.InternalIcons.systemUser</i>
      </a>
    }
  </td>
</tr>
