@(projectile: com.kyleu.projectile.services.ProjectileService, inputType: com.kyleu.projectile.models.input.InputTemplate, project: com.kyleu.projectile.models.project.Project)(
    implicit flash: Flash
)@com.kyleu.projectile.web.views.html.layout.simple(projectile, project.key + " Project Detail") {
  @com.kyleu.projectile.web.views.html.project.projectSummary(inputType, project)
  @com.kyleu.projectile.web.views.html.project.projectStatus(inputType, project)

  @com.kyleu.projectile.web.views.html.project.member.listEnum(inputType, project)
  @com.kyleu.projectile.web.views.html.project.member.listModel(inputType, project)
  @com.kyleu.projectile.web.views.html.project.member.listUnion(inputType, project)
  @com.kyleu.projectile.web.views.html.project.member.listService(inputType, project)
}
