@(projectile: com.kyleu.projectile.services.ProjectileService, inputType: com.kyleu.projectile.models.input.InputTemplate, project: com.kyleu.projectile.models.project.Project)(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@com.kyleu.projectile.web.views.html.layout.simple(projectile, project.key + " Project Detail") {
  <div class="collection with-header">
    <div class="collection-header">
      <div class="right"><a href="@com.kyleu.projectile.web.controllers.project.form.routes.ProjectFormController.formSummary(project.key)">Edit Summary</a></div>
      <h5><i class="@project.template.icon"></i> @if(project.description.trim.isEmpty) { @project.key } else { @project.description }</h5>
      Built from <a href="@com.kyleu.projectile.web.controllers.input.routes.InputController.detail(project.input)">@project.input</a>
    </div>
    <div class="collection-item">
      <div class="right"><a href="@com.kyleu.projectile.web.controllers.project.form.routes.ProjectFormController.formFeatures(project.key)">Edit Features</a></div>
      <h6>Features</h6>
      <div>
      @project.availableFeatures(inputType).map { feature =>
        @defining(if(project.features.contains(feature)) { com.kyleu.projectile.models.template.Icons.selected } else { com.kyleu.projectile.models.template.Icons.empty }) { icon =>
          <div class="chip" title="@feature.description"><i class="fa @icon"></i> @feature</div>
        }
      }
      </div>
    </div>

    <div class="collection-item">
      <div class="right"><a href="@com.kyleu.projectile.web.controllers.project.form.routes.ProjectFormController.formPaths(project.key)">Edit Paths</a></div>
      <h6>Path Overrides</h6>
      <div>
      @if(project.paths.isEmpty) {
        <div>No path overrides</div>
      }
       @com.kyleu.projectile.models.output.OutputPath.values.map { p =>
        @project.paths.get(p).map { path =>
          <div>@p.value: @path</div>
        }
      }
      </div>
    </div>

    <div class="collection-item">
      <div class="right"><a href="@com.kyleu.projectile.web.controllers.project.form.routes.ProjectFormController.formPackages(project.key)">Edit Packages</a></div>
      <h6>Package Overrides</h6>
      <div>
        @if(project.packages.isEmpty) {
          <div>No package overrides</div>
        }
        @com.kyleu.projectile.models.output.OutputPackage.values.map { p =>
          @project.packages.get(p).map { pkg =>
            <div>@p.value: @pkg.mkString(".")</div>
          }
        }
      </div>
    </div>

    <div class="collection-item">
      <div class="right"><a href="@com.kyleu.projectile.web.controllers.project.form.routes.ProjectFormController.formClassOverrides(project.key)">Edit Class Overrides</a></div>
      <h6>Class Overrides</h6>
      <div>
        @if(project.classOverrides.isEmpty) {
          <div>No class overrides</div>
        }
        @project.classOverrideStrings.map { o =>
          <div>@o</div>
        }
      </div>
    </div>

    <div class="collection-item">
      <a class="btn theme" href="@com.kyleu.projectile.web.controllers.project.routes.ProjectController.export(project.key)">Export</a>
      <a class="btn theme" href="@com.kyleu.projectile.web.controllers.project.routes.ProjectController.update(project.key)">Update</a>
    </div>
  </div>

  @com.kyleu.projectile.web.views.html.project.member.listEnum(inputType, project)
  @com.kyleu.projectile.web.views.html.project.member.listModel(inputType, project)
  @com.kyleu.projectile.web.views.html.project.member.listUnion(inputType, project)
  @com.kyleu.projectile.web.views.html.project.member.listService(inputType, project)
}
