@(projectile: com.kyleu.projectile.services.ProjectileService, result: com.kyleu.projectile.models.project.audit.AuditResult)(
    implicit flash: Flash
)

@section(key: String, title: String, messages: Seq[com.kyleu.projectile.models.project.audit.AuditMessage]) = {
  <div class="collection with-header">
    <div class="collection-header">
      @if(messages.nonEmpty) {
        <div class="right">
          <a href="@com.kyleu.projectile.web.controllers.project.routes.ProjectController.fix("all", "all", key, "")">Fix All</a>
        </div>
      }
      <h6>@title</h6>
    </div>

    @if(messages.isEmpty) {
      <div class="collection-item">No warnings. You're all good!</div>
    }

    @messages.sortBy(_.srcModel).map { log =>
      @com.kyleu.projectile.web.views.html.project.audit.auditMessage(log)
    }
  </div>
}

@com.kyleu.projectile.web.views.html.layout.simple(projectile, "Audit Result") {
  <div class="collection with-header">
    <div class="collection-header">
      <div class="right">
        <a href="@com.kyleu.projectile.web.controllers.project.routes.BulkProjectController.auditAll()">Run Again</a>
      </div>
      <h5><i class="@com.kyleu.projectile.models.template.Icons.audit"></i> Audit Result</h5>
    </div>
  </div>

  @section("output", "Output Result", result.outputMessages)
  @section("config", "Configuration Result", result.configMessages)
}
