@(projectile: com.kyleu.projectile.services.ProjectileService, result: com.kyleu.projectile.models.project.audit.AuditResult)(
    implicit flash: Flash
)@com.kyleu.projectile.web.views.html.layout.simple(projectile, "Audit Result") {
  <div class="collection with-header">
    <div class="collection-header">
      <div class="right">
        <a href="@com.kyleu.projectile.web.controllers.project.routes.BulkProjectController.auditAll()">Run Again</a>
      </div>
      <h5><i class="@com.kyleu.projectile.models.template.Icons.audit"></i> Audit Result</h5>
    </div>
  </div>

  <div class="collection with-header">
    <div class="collection-header">
      @if(result.configMessages.nonEmpty) {
        <div class="right">
          <a href="@com.kyleu.projectile.web.controllers.project.routes.ProjectController.fix("all", "all", "config", "")">Fix All</a>
        </div>
      }
      <h6>Configuration Result</h6>
    </div>

    @if(result.configMessages.isEmpty) {
      <div class="collection-item">No warnings. You're all good!</div>
    }

    @result.configMessages.sortBy(_.srcModel).map { log =>
      @com.kyleu.projectile.web.views.html.project.audit.auditMessage(log)
    }
  </div>

  <div class="collection with-header">
    <div class="collection-header">
      @if(result.outputMessages.nonEmpty) {
        <div class="right">
          <a href="@com.kyleu.projectile.web.controllers.project.routes.ProjectController.fix("all", "all", "output", "")">Fix All</a>
        </div>
      }
      <h6>Output Result</h6>
    </div>
    @if(result.outputMessages.isEmpty) {
      <div class="collection-item">No warnings. You're all good!</div>
    }

    @result.outputMessages.sortBy(_.srcModel).map { log =>
      @com.kyleu.projectile.web.views.html.project.audit.auditMessage(log)
    }
  </div>

}
