@(app: com.kyleu.projectile.models.module.Application)(
    implicit session: Session, flash: Flash
)@com.kyleu.projectile.views.html.layout.splash("Error", fullWidth = true) {
  <h6>Startup Errors</h6>
  <ul class="collection">
    @app.getErrors.map { err =>
      <li class="collection-item">
        <p>@err._2</p>
        @com.kyleu.projectile.models.web.StartupErrorFixes.messageFor(err._1, err._2, err._3)
      </li>
    }
    <li class="collection-item">
      <a href="/?errors=reset" class="btn">Try Again</a>
    </li>
  </ul>
}
