@(app: com.kyleu.projectile.models.module.Application)(implicit flash: Flash)
@com.kyleu.projectile.views.html.layout.splash("Error", fullWidth = true) {
  <h6>Startup Errors</h6>
  <ul class="collection">
    @app.errors.getErrors.map { err =>
      <li class="collection-item">
        <p>@err.msg</p>
        @defining(com.kyleu.projectile.models.web.StartupErrorFixes.messageFor(err.key, err.msg, err.params)) { msg =>
          <p>@msg._2</p>
          @msg._1.map { m =>
            <div><a href="/?fix=@err.key" class="btn">@m</a></div>
          }
        }
      </li>
    }
    <li class="collection-item">
      <a href="/?errors=reset" class="btn">Check Again</a>
    </li>
  </ul>
}
