@(projectile:  com.projectile.services.ProjectileService, inputs: Seq[ com.projectile.models.input.InputSummary], projects: Seq[ com.projectile.models.project.ProjectSummary])(
    implicit request: Request[AnyContent], session: Session, flash: Flash
)@layout.simple(projectile, com.projectile.util.Version.projectName) {
  <div class="collection with-header">
    <div class="collection-header">
      <div class="right"><a class="theme-text" href="@controllers.input.routes.InputController.formNew()">Add Input</a></div>
      <h5><i class=" @com.projectile.models.template.Icons.input"></i> Inputs</h5>
      @if(inputs.size == 1) {
        @inputs.size available input
      } else {
        @inputs.size available inputs (<a class="theme-text" href="@controllers.input.routes.InputController.refreshAll()">refresh</a> all)
      }
    </div>
    @if(inputs.isEmpty) {
      <div class="collection-item">
        You have no inputs configured at this path, go ahead and <a class="theme-text" href="@controllers.input.routes.InputController.formNew()">add one</a>.
      </div>
    }
    @inputs.sortBy(_.title).map { input =>
      <a class="collection-item theme-text" href="@controllers.input.routes.InputController.detail(input.key)">
        <i class="@input.template.icon"></i>
        @input.title
      </a>
    }
  </div>

  <div class="collection with-header">
    <div class="collection-header">
      <div class="right"><a class="theme-text" href="@controllers.project.routes.ProjectFormController.formNew()">Add Project</a></div>
      <h5><i class=" @com.projectile.models.template.Icons.project"></i> Projects</h5>
      @if(projects.size == 1) {
        @projects.size available project
      } else {
        @projects.size available projects
        (<a class="theme-text" href="@controllers.project.routes.BulkProjectController.exportAll()">export</a> all)
      }
    </div>
    @if(projects.isEmpty) {
      <div class="collection-item">
        You have no projects configured at this path, go ahead and <a class="theme-text" href="@controllers.project.routes.ProjectFormController.formNew()">add one</a>.
      </div>
    }
    @projects.sortBy(_.title).map { project =>
      <a class="collection-item theme-text" href="@controllers.project.routes.ProjectController.detail(project.key)">
        <i class="@project.template.icon"></i>
        @project.title
      </a>
    }
  </div>

  <div class="collection with-header">
    <div class="collection-header">
      <div class="right"><a class="theme-text" href="@controllers.routes.HomeController.changeDirForm()">Change Directory</a></div>
      <strong>@projectile.cfg.workingDirectory.pathAsString</strong>
    </div>
  </div>
}
