@(cfg: com.kyleu.projectile.models.config.UiConfig, conn: com.kyleu.projectile.models.websocket.ConnectionMessage.ConnectionTraceResponse)(
    implicit flash: Flash
)@com.kyleu.projectile.views.html.layout.page(title = s"WebSocket [${conn.id}] Detail", cfg = cfg, icon = Some(com.kyleu.projectile.models.web.InternalIcons.connection)) {
  <ul class="collection with-header">
    <li class="collection-header">
      <h5><i class="material-icons inline">@com.kyleu.projectile.models.web.InternalIcons.connection</i> WebSocket [@conn.id]</h5>
    </li>
    <li class="collection-item">
      <pre>@conn</pre>
    </li>
  </ul>
}
